/* form div and client side error message */
label.error {
    position: absolute;
    right: 0px;
    /*top: -19px;*/
    top: 0px;
    background: #c64254;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .7);
    padding: 2px 5px;
    font-size: 11px;
    display: block;
    color: #fff;
    text-align: right;
    border-radius: 2px;
    line-height: 16px;
}
label.error:after{
    width: 0px;
    height: 0px;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #c64254;
    position: absolute;
    top: 20px;
    right: 3px;
}
input.error {
    border: 1px #c64254 solid !important;
}
div.form-group{
    position: relative;
    width: 100%;
    /*float: left;*/
}
/* form div and client side error message end */


/* admin panel loader */ 
.enlarged #wrapper .left.side-menu{z-index: 999 !important;}
.loader-div{width: 100%;float: left;position: fixed;right: 0;left: 70px;top: 70px;display: flex;bottom: 0;z-index: 9;background: rgba(0,0,0,0.6);height: 100%;text-align: center;}
.side-menu{z-index: 9999;}
.loader-div .load_cont{width: 100%;align-self: center;margin-bottom: 100px;}
.loader-div .load_cont h4{color: #fff;}
.sk-double-bounce .sk-child{background-color: #eaeaea !important;}
.sk-double-bounce{margin: 20px auto !important;}
.loader-div.hidden,.modal-loader.hidden{display: none;}

.modal-loader{
        color:#fff;width: 100%;float: left;z-index: 9;background: rgba(13, 73, 213, 0.5);height: 100%;text-align: center;
    }
.modal-loader p{color:#fff;}

.paginationRow{width: 100%;float: left;}
.paginationRow .paginationLeft{float: left;margin-top: 6px;}
.paginationRow .paginationRight{float: right;}

.img_div{display: inline-block; width: 80px; max-height: 80px;}
.img_div img{max-width: 100%;}

/*loader for remote validation*/ 
.inputLoader:before {
    content: url("../../img/loader.gif");
    display: inline-block;
    position: absolute;
    left: 0;
    top: 31px;
}
.hidden-icon{display: none;padding-right: 10px;}
.step-3-div{position: absolute;left: 0;right: 0;bottom: 37px;}
.croppie-div{overflow-x: auto;}
@media only screen and (max-width :940px) {
.users-list,.users-list tr,.users-list thead,.users-list tbody{width: 100%;float: left;display: block;box-sizing: border-box;}
.users-list tr{position: relative;}
.users-list tr td{width: 100%;float: left;display: block;text-align: left !important;padding:1.3% !important;padding-left: 120px !important;box-sizing: border-box;word-wrap: break-word;border:0;}
.users-list thead{display: none;}
.users-list tr td:nth-child(1){width: 100px;height: 100vh;position: absolute;left: 0;top: 10px;bottom: 0;padding: 0 !important;padding: 0 !important;
text-align: center !important;}
.users-list tr td .img_div{background: #fff;padding: 5px;}
.users-list tr td.pre-action-col{width: 20%;min-width: 160px;}
.users-list tr td.action-btn-list{width: 55%;padding-left: 0 !important;}

.hidden-icon{display: inline-block;}




.valuation-requests-list,.valuation-requests-list tr,.valuation-requests-list thead,.valuation-requests-list tbody{width: 100%;float: left;display: block;box-sizing: border-box;}
.valuation-requests-list tr{position: relative;}
.valuation-requests-list tr td{width: 100%;float: left;display: block;text-align: left !important;padding:1% 2% !important;box-sizing: border-box;word-wrap: break-word;border:0;}
.valuation-requests-list thead{display: none;}
.valuation-requests-list tr td:before{font-size: 16px;font-weight: 600;color: #797979;display: inline-block;padding-right: 15px;}

.valuation-requests-list tr td:nth-child(1):before{content: "Property Name :"}
.valuation-requests-list tr td:nth-child(2):before{content: "Contact Name :"}
.valuation-requests-list tr td:nth-child(3):before{content: "Contact Email :"}
.valuation-requests-list tr td:nth-child(4):before{content: "Agent :"}
.valuation-requests-list tr td:nth-child(5):before{content: "Status: "}
.valuation-requests-list tr td:nth-child(6):before{content: "Valuation Date :"}
.valuation-requests-list tr td:nth-child(7):before{content: "Action :"}
}
@media only screen and (max-width :768px) {
.property-types-list,.property-types-list tr,.property-types-list thead,.property-types-list tbody,.email-templates-list,.email-templates-list tr,.email-templates-list thead,.email-templates-list tbody
{width: 100%;float: left;display: block;box-sizing: border-box;}
.property-types-list tr,.email-templates-list tr{position: relative;}
.property-types-list tr td,.email-templates-list tr td {width: 100%;float: left;display: block;text-align: left !important;padding:1% 2% !important;box-sizing: border-box;word-wrap: break-word;border:0;}
.property-types-list thead,.email-templates-list thead {display: none;}
.property-types-list tr td:before,.email-templates-list tr td:before{font-size: 16px;font-weight: 600;color: #797979;display: inline-block;padding-right: 15px;}
.property-types-list tr td:nth-child(1):before{content: "Property Type :"}
.property-types-list tr td:nth-child(2):before{content: "Created :"}
.property-types-list tr td:nth-child(3):before{content: "Action :"}
.email-templates-list tr td:nth-child(1):before{content: "Template Name :"}
.email-templates-list tr td:nth-child(2):before{content: "Subjest :"}
.email-templates-list tr td:nth-child(3):before{content: "Action :"}
.stepy-header li { width: 100%;}
}
@media only screen and (max-width :450px) {
    .users-list tr td{padding-left: 0 !important;text-align: center !important;padding: 2% !important;}
.users-list tr td:nth-child(1){width: 100%;height: auto;position: relative;left: auto;top: auto;bottom: auto;padding: 2% !important;}
div.dataTables_wrapper div.dataTables_filter input{max-width: 67%;}
.valuation-requests-list tr td{padding:2% !important;}
.valuation-requests-list tr td:before{width: 100%;}
.users-list tr td.pre-action-col{width:45%;text-align: right !important;min-width: 0;}
.users-list tr td.action-btn-list {width:55%;text-align: left !important;}
}