/*Success & Error MSG*/
div.message::before {
    background-color: #fff;
    border-radius: 15px;
    color: #00a759;
    content: "i";
    display: inline-block;
    font-size: 20px;
    height: 12px;
    left: -15px;
    line-height: 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 12px;
    padding: 12px 14px 12px 10px;   
}
div.message {
    background-color: #00a759;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding: 10px 25px;
    position: fixed;
    text-align: left;
    width: auto;
    z-index: 999999;
    margin-left: 30%;
    top: 20%;
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
}
div.message.error:before {
    color: #C3232D;
    content: "x";
    /*padding: 11px 16px 14px 7px;*/
}
div.message.hidden {
    height: 0;
}


