/* error and success message append */


/*.error-message, .success-message p{}*/

/* form div and client side error message */
/*label.error {
    position: absolute;
    right: 0px;
    top: -19px;
    background: #c64254;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .7);
    padding: 2px 5px;
    font-size: 11px;
    display: block;
    color: #fff;
    text-align: right;
    border-radius: 2px;
    line-height: 16px;
}
label.error:after{
    width: 0px;
    height: 0px;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #c64254;
    position: absolute;
    top: 20px;
    right: 3px;
}*/
input.error {
    border: 1px #c64254 solid !important;
}
div.form_div{
    position: relative;
    width: 100%;
    float: left;
}
/* form div and client side error message end */

/*for successs and error message flash*/

@keyframes flashChange {
    0% {opacity: 1;}
    100% {opacity: 0;}
}


.hidden {
    /*display: none;*/
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-name: flashChange;
    display: none !important;
}

.error-message{
    background: #d9675d;
    padding: 10px;
    width: 35%;
    margin: 16px 0px 13px 0px;
    margin-left: 0px;
    margin-left: 0px;
    color: #fff;
    border-radius: 3px;
    position: absolute;
    line-height: 30px;
    z-index: 99;
    cursor:pointer;

}

/*.error-message{background:#d9675d;padding:10px;width:100%;float:left;margin:10px 0;color:#fff;border-radius:3px;}*/
.error-message i{font-size:40px;float:left;margin-right:10px;}
.error-message p{font-size:14px;color:#fff;font-weight:300;margin: 0px;}

.success-message{
    background: #00A759;
    padding: 10px;
    width: 35%;
    margin: 16px 0px 13px 0px;
    margin-left: 0px;
    margin-left: 0px;
    color: #fff;
    border-radius: 3px;
    position: absolute;
    line-height: 30px;
    z-index: 100;
    cursor:pointer;

}
/*.success-message{background:#00A759;padding:10px;width:100%;float:left;margin:10px 0;color:#fff;border-radius:3px;}*/
.success-message i{font-size:40px;float:left;margin-right:10px;}
.success-message p{font-size:14px;color:#fff;font-weight:300;margin: 0px;}
.error-message, .success-message {z-index: 999;position: fixed;top: 65px;left: auto;left: 0;right: 0;margin: 0 auto;}
/* successs and error message end declaration css */


/*home page agent find section*/
.section2 .side-right {position: relative;padding-left: 0;}
/*.section2 .side-left {min-height: 500px;}*/
.loader-div span{display: none;}
.agent-loading .loader-div{ 
    background: rgba(0,0,0,0.5)/*rgba(248, 248, 255, 0.5)*/;position: absolute;width: 100%;float: left;height: 100%;top:0;min-width: 200px;left: 0;z-index: 999;text-align: center;border-radius: 10px;
}
.agent-loading .loader-div span:before{content: url('../img/interwind3.gif');margin-top: 21%;display: block; }
.agent-loading .loader-div span{color:#fff;font-size: 14px;display: block;width: 100%;}
.main-user-data{width: 100%}
/*home page agent find section end*/

/* button-loader for disabling button */
.button-loader { 
    background-image: url('../img/loder.gif') !important;
    z-index: 999;
    cursor: not-allowed !important;
    color: transparent !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}
.button-loader.small { 
    background-image: url('../img/loader.gif') !important;
}

/*star rating gap was not displayed*/
.review-result-list{position: relative;}
.review-result-list .loader-div{border-radius: 0}
.review-result-list .r-r-l-top-section .star-box .star{margin-left: 3px;}
.star-icon:before {content: "\f005";font-family: 'Font Awesome 5 Free';font-weight: 900;display: inline-block;font-size: 22px;color: #eac00c;} 

.review-result-list h3{text-transform: capitalize;}


/* Adjusting Map Image With The Property List Section  */
.property-list-main {
    min-height: 820px;
}


/*prperty listing page section*/

#map-section { height: 100%; }
.search-loader { font-size: 10px; height: 90%;bottom: 0; width: 90%; z-index: 9999; position: absolute; top: 137px; left: 5vw; background:  url(../img/interwind3.gif) no-repeat center center fixed; background-color: rgba(248, 248, 255, 0.5); display: none;}
.content-section{width: 100%;float: left;position: relative;}

.pagenation-filter .pagenation li { font-size: 14px;color: #345e84;display: block;line-height: 38px;background: #ffffff; }
.pagenation-filter .pagenation li:first-child { font-size: 10px; }
.pagenation-filter .pagenation li:last-child { font-size: 10px; }
.pagenation li.corrent a, .pagenation li.active a, .pagenation li.current a { background: #edeef0;  pointer-events: none; }


/* property detail page:: jssor plugin css start*/
/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 032 css*/
.jssorb032 {position:absolute;}
.jssorb032 .i {position:absolute;cursor:pointer;}
.jssorb032 .i .b {fill:#fff;fill-opacity:0.7;stroke:#000;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.25;}
.jssorb032 .i:hover .b {fill:#000;fill-opacity:.6;stroke:#fff;stroke-opacity:.35;}
.jssorb032 .iav .b {fill:#000;fill-opacity:1;stroke:#fff;stroke-opacity:.35;}
.jssorb032 .i.idn {opacity:.3;}

/*jssor slider arrow skin 051 css*/
.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}

.jssor-slider-section{position: relative;}
.jssor-container{position:relative;margin:0 auto;top:0px;left:0px;width:1300px;height:500px;overflow:hidden;visibility:hidden;}
.jssor-container .jssorl-009-spin{position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);}
.jssor-container .jssorl-009-spin img {margin-top:-19px;position:relative;top:50%;width:38px;height:38px;}
.jssor-container .jssor-image-slides{cursor:grab;position:relative;top:0px;left:0px;width:1300px;height:500px;overflow:hidden;}
.jssor-container .jssorb032{position:absolute;bottom:12px;right:12px;}
.jssor-container .jssorb032 .i{width:16px;height:16px;}
.jssor-container .jssorb032 .i svg{position:absolute;top:0;left:0;width:100%;height:100%;}
.jssor-container .jssora051.left-arrow{width:65px;height:65px;top:0px;left:25px;}
.jssor-container .jssora051.right-arrow{width:65px;height:65px;top:0px;right:25px;}
.jssor-container .jssora051 svg{position:absolute;top:0;left:0;width:100%;height:100%;}

/*jssor plugin css start*/

/* prperty detail page custom css*/
.detail_menu { position: -webkit-sticky; /* Safari */position: sticky;top: 0;z-index: 9; }
.floorplan .g-map-container{position: relative;width: 100%;float: left;height: 460px;overflow: hidden;border: solid 5px #000;}

#street_view { border: 1px solid black; display: none;}
.street_view_error { display: none; }
/*infowindow prperty detail page*/
    .gm-style .gm-style-iw-c{max-height: none !important;}
    .gm-style .gm-style-iw-d{overflow: unset;}
    .floorplan .info-window h3{margin-bottom: 10px;}
/* property deatails: description section*/ 
    .property-des {float: left;width: 50%;min-height: 150px;padding: 5px;margin-bottom: 20px;}
    .property-des > p{background: #f0f0f0;padding: 15px;border-radius: 4px;}
    .property-des > h3{color:#454545;}
    
.property-detail-page .content-section h2{font-size: 32px;line-height: 38px;font-weight: bold;color: #292149;text-transform: uppercase;}
.property-detail-page .content-section h4{font-size: 22px;line-height: 28px;font-weight: normal;color: #c8a444;margin-bottom: 12px;}
.content-section.property-directory span{font-size: 16px;line-height: 20px;font-weight: normal;color: #2b2b2b;}




/* ============================= PROPERTY LIST PAGE CSS ======================================== */
/* ================================ CSS FOR SEARCHBAR ================================= */
#searchbar{width:100%;position: fixed;top: 90px;left: 0;z-index: 99;}
/*    #searchbar{float:left;width:100%;}float: left;width: 100%;position: fixed;top: 93px;left: 0;z-index: 99;*/
.search_row1{width: 100%;float: left;background: #f5f5f5;}
.search_table{width: 100%;padding: 10px 0;display: table;}
.search_table form{width: 100%;display: table;}
.search_row{display: table-row;}
.search_col{display: table-cell;vertical-align: middle;position: relative;padding:0 10px;z-index:1;cursor: pointer;color: #7d7d7d;text-align: center;}
.search_col:after{content: '';position: absolute;right: 0;top: 5px;bottom: 5px;border-right: solid 1px #dcdcdc;}
.search_col i{font-size: 16px;font-weight: normal;color: #b1b0b0;display:inline-block;padding-right: 5px;}
.search_col select{background: url(../../images/select-arrow.png) right center no-repeat;}
.search_col:nth-of-type(6):after,.search_col:nth-of-type(7):after,.search_col:nth-of-type(8):after{border-right: none;}
.search_col  input[type="search"]{width: 100%;float: left;border: solid 1px #dbdbdb;font-family: 'PT Sans', sans-serif;font-size: 16px;font-weight: normal;color: #7d7d7d;padding: 8px;border-radius: 4px;min-width: 240px;}
.search_col select{width: 100%;font-size: 14px;font-weight: normal;color: #7d7d7d;padding: 5px 10px;appearance: none;-o-appearance: none;-webkit-appearance: none;-ms-appearance: none;-moz-appearance: none;background-color: transparent !important;padding-right: 17px;border: 1px solid #eee;}
.search_col select option{text-align: left!important;}
.search_col input[type="submit"],.search_col input[type="button"]{padding: 8px 25px;font-size: 13px;line-height: 18px;font-weight: bold;color: #fff;background: #c8a444;cursor: pointer;transition: all 400ms cubic-bezier(0,0,0,1);-o-transition: all 400ms cubic-bezier(0,0,0,1);-ms-transition: all 400ms cubic-bezier(0,0,0,1);-moz-transition: all 400ms cubic-bezier(0,0,0,1);-webkit-transition: all 400ms cubic-bezier(0,0,0,1);}
.search_col input[type="submit"]:hover,.search_col input[type="button"]:hover{background: #859c2e;}
.search_col:nth-of-type(7){padding-left:0;text-align: left;}
.search_col .dropdown-div .minprice,.search_col .dropdown-div .minbedroom{float:left;width:50%;padding-right:7px;}
.search_col .dropdown-div .maxprice,.search_col .dropdown-div .mixbedroom{float:right;width:50%;padding-left:7px;}
.search_col .dropdown-div .dw-items-scrool{max-height: 300px;overflow-y: auto;overflow-x: hidden;}
.search_col .dropdown-div select option{border-bottom:1px solid #eee;}
.search_col .dropdown-div input[type="checkbox"]{margin-right:5px;}
.search_col:last-child i {color:#6C6C6C;}
.search_col:last-child .dropdown-div{left:auto;right:0;width: auto;}
.search_col .dropdown-div .dw-items{width: 100%;float: left;padding:0;position:relative;}
.search_col .dropdown-div label{width: 100%;min-width: 140px;float: left;padding: 4px 10px;font-size: 14px; font-weight:400;color: #7d7d7d;}
.search_col .dropdown-div h3{padding: 4px 10px;font-size: 14px;/*changed 15px*/ font-weight:400;color: #053017;}
.search_col .dropdown-div input[type="radio"]{opacity: 0;position: absolute;left:0;top:5px;}
.search_col .dropdown-div input[type="radio"]:checked ~ label{background: #f2d27b;}
.search_col i.submit-btn-icon{font-size: 15px;color: #fff;position: absolute;left:15px;top:5px;display: none;}
.dropdown-div{text-align: left;width: 300px;position:absolute;left:0;top:35px;z-index:999;background: #fff;display:none;border:1px solid #eeeeee;padding:10px;box-shadow:0 0 10px #ccc;color: #7d7d7d;font-size:14px;}
.search_col span span{padding: 0; font-size: 14px;}
.search_col svg.submit-btn-icon{font-size: 15px; color: #fff;position: absolute;left: 15px;top: 5px;display: none;}
.results-found{background: rgba(228,224,212,0.5);padding: 5px 20px;color: #053017;font-size: 17px;width: 100%;font-size: 16px;width: 100%;float: left;box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);border-top: 2px solid #E4E4E4;}
.results-found span{font-size: 18px;font-weight: 600;color: #859c2e;}
/*google map info window customized on listing page*/
.info-window {width: 100%;float: left;position: relative;}
.info-window .imgbox { width: 197px;padding: 0;}
.info-window .imgbox img{ display: block;width: 100%;}
.info-window .content-box{ text-align: center;width: 200px;padding: 0;border: 0;display: block;}
.info-window h3{ font-size: 14px;line-height: 16px;font-weight: 600;margin-top: 6px;}
.info-window h3 a{color: #b18100;}
.info-window h4{ font-size: 20px;line-height: 18px;font-weight: bold;color: #143c25;margin: 10px 0 5px 0;}
.info-window p{font-size: 13px;line-height: 20px;font-weight: normal;color: #575757;letter-spacing: 0.2px;}
.gm-style .gm-style-iw-c {overflow: visible;}
.gm-ui-hover-effect{opacity: 1 !important;background: #fff !important;border-radius: 50px;}

/* ===================================== CONTENT SECTION CSS ====================================== */
.property_result_sec{width: 100%;float: left;padding: 20px 0;position: relative;background: #f5f5f5;/*added -->>margin-top: 182px;*/}
.property_result_sec_left{width: 100%;float: left;padding-left:52%;padding-right:3%;min-height: 700px;/*added -->>*/margin-top: 102px;}
.property_result_sec_right{width: 50%;position: fixed;/*changed absolute*/left: 0;top: 156px !important;/*changed 0px*/bottom: 19px;border: solid 1px #dbdbdb !important;border-right: none !important;min-height:400px;overflow: hidden;margin: 0 0;}

.property_result_sec_right iframe{width: 100%;height: 740px;display: block;}
.result_box{width: 100%;display: table;background: #fff;border: solid 1px #dbdbdb;padding: 0;margin: 20px 0;transition: all 200ms ease-out;-o-transition: all 200ms ease-out;-ms-transition: all 200ms ease-out;-moz-transition: all 200ms ease-out;-webkit-transition: all 200ms ease-out;}
.property_result_sec_left .result_box:first-child{margin-top:0;}
.result_box:hover,.selectedProperty{box-shadow:0 0 10px #000;}
.result_box_row{display: block;position: relative;}
.result_box_col{ display: block;vertical-align: top;float: left;}
.result_box_col:nth-of-type(1){width: 38%;padding-right: 10px;}
.result_box_col:nth-of-type(2){padding-left: 13px;padding-right: 0;width: 62%;}
.result_box_col .imgbox{width: 100%;padding: 0;border: 0;}
.result_box_col .imgbox img{display: block;}
.result_box_col h3{font-size: 20px;line-height: 18px;font-weight: normal;margin-top: 15px;}
.result_box_col h3 a{color: #1d1d1d;font-size: 16px;line-height: 20px;padding-right: 95px;display: inline-block;}
.result_box_col h3 a:hover{text-decoration: underline;}
.result_box_col h4{font-size: 20px;line-height: 18px;font-weight: bold;color: #143c25;margin: 10px 0 5px 0;}
.result_box_col p{font-size: 13px;line-height: 20px;font-weight: normal;color: #575757;letter-spacing: 0.2px;}
.result_box_col ul{width: 100%;float: left;margin-top: 5px;}
.result_box_col ul li{display: inline-block;float: left;}
.result_box_col ul li a{display: block;font-size: 11px;line-height: 24px;font-weight: normal;color: #fff;padding: 0 10px;margin-right: 10px;margin-bottom:10px;margin-top: 10px;}
.result_box_col ul li:nth-child(1) a{background-color:#c8a444;}
.result_box_col ul li:nth-child(2) a{background-color:#a3a5a4;}
.result_box_col ul li:nth-child(3) a{background-color:#292149;}
.result_box_col ul li a i{padding-right:3px;}
.result_box_col ul li a:hover{color: #fff;background-color:#292149;}
.result_box_col ul li:nth-child(3) a:hover{background-color:#c8a444;}

.offers-section {display: block;position: absolute;right: 10px;top: 0;width: 92px;background: #292149;padding: 15px 10px 25px 10px;color: #fff;font-size: 14px;font-weight: 300;text-align: center;height: 77px;border-top: 2px solid #292149;}
.offers-section2 {display: block;position: absolute;right: 10px;top: 0;width: 92px;background: #c8a444;padding: 15px 10px 25px 10px;color: #fff;font-size: 14px;font-weight: 300;text-align: center;height: 77px;border-top: 2px solid #c8a444;}
.offers-section:after, .offers-section2:after {content: "";position: absolute;left: 0;bottom: 0;width: 0;height: 0;border-bottom: 20px solid #fff;border-left: 46px solid transparent;border-right: 46px solid transparent;}
.area-map-Expand {position: absolute;top: 10px;width: 200px;left: 0;right: 0;margin: auto;background: #fff;border-radius: 4px;padding: 28px 15px 35px 15px;border: 1px solid #ccc;z-index: 1;}
.area-map-Expand .area-value {position: absolute;top: 5px;width: 100%;left: 0;text-align: center;color: #898989;font-size: 13px;padding-bottom: 10px;}
.sticky22 {position: absolute;top: auto;bottom: 0;z-index: 1;}
.map_layer_buttons{position:absolute;bottom:0px;width:100%;left:0;margin:auto;z-index:1;}
.map_layer_buttons ul{width:auto;margin:0 0 10px 0;text-align: center;}
.map_layer_buttons li{display:inline-block;margin:0 1px;padding:0;}
.map_layer_buttons li a{display:block;margin:0;width:30px;height:30px;line-height:30px;background:#fff;border-radius:3px;color:#8e8d8d;text-align:center;border:1px solid #e1dfdf;box-shadow: 0 0 5px #ccc;}
.map_layer_buttons li a:hover{color:#c8a444;}
.map_layer_buttons .layer_sub-buttons{background:#fff;border-top:2px solid #ccc;width:100%;position:relative;display:none;bottom:0;}
.map_layer_buttons .layer_sub-buttons ul{padding:20px;margin:0;}
.map_layer_buttons .layer_sub-buttons ul li{padding:0;display:block;width:100%;color:#504f4f;margin-bottom: 5px;text-align: left;}
.map_layer_buttons .layer_sub-buttons .clo-btn{width:30px;height:30px;color:#8e8d8d;text-align:center;line-height:30px;position:absolute;right:10px;top:10px;font-size: 25px;}

.order-results{padding: 8px 15px;font-size: 13px;line-height: 18px;font-weight: 400;color: #6C6C6C;display: inline-block;background: #DEDEDE;cursor: pointer;transition: all 400ms cubic-bezier(0,0,0,1);-o-transition: all 400ms cubic-bezier(0,0,0,1);-ms-transition: all 400ms cubic-bezier(0,0,0,1);-moz-transition: all 400ms cubic-bezier(0,0,0,1);-webkit-transition: all 400ms cubic-bezier(0,0,0,1);white-space: nowrap;}

.ui-menu{top: 136px;left: 155.333px;width: 244.017px;display: block;box-shadow: 0 0 5px rgba(0,0,0,0.5);border-radius: 4px;color: #8a8a8a !important;background: #fff !important; border:0 !important;}
.ui-menu .ui-state-active { margin: 0 !important;color: #c8a444;}
/*ui-menu ui-widget ui-widget-content ui-autocomplete ui-front*/
/* Buyer Page Review Map Section */
.map-section .this-area-experts {display: block;}



.suggested_properties .owl-carousel .owl-wrapper-outer{padding: 30px 0;overflow: hidden;}
.suggested_properties .owl-carousel .owl-item {box-shadow: 0 0 10px rgba(0,0,0,0.2);padding: 5px;}
.suggested_properties .suggest_name_div {display: inline-block;font-size: 13px;color: #545452;margin: 5px 0;max-height: 38px;overflow: hidden;display: block;min-height: 38px; }
.suggested_properties .suggest_price_div {display: inline-block;color: #c8a444;margin-bottom: 10px;font-size: 14px;}
.suggested_properties .owl-item{ margin: 0 18px;box-shadow: 0 0 10px rgba(0,0,0,0.2);padding: 5px; }
.suggested_properties .button-1{ font-weight: 600;padding-left: 10px;padding-right: 10px;font-size: 11px;}

.suggested_properties .owl-buttons{position: absolute;left: 0;right: 0;top: 50%;transform: translateY(-50%);}
.suggested_properties .owl-buttons .owl-prev{float: left;margin-left: -20px}
.suggested_properties .owl-buttons .owl-next{float: right;margin-right: -20px}

/* For Book Viewing Page */
.available-box-table td.no-available {pointer-events: none;}
label#viewingTime-error{right: 50%;}

/* book free valuation address */
.cal-time-box > li {cursor: pointer;}
.cal-day-box { cursor: pointer; } 
li.inactive { pointer-events: none;color: #b3b3b3 !important; }
.form_left{width: 45%;float: left;}
.form_right{width: 45%;float: right;}
.form_div.title_sel {padding-left: 80px;}
.form_div.title_sel select{width: 76px;position: absolute;left: 0;top: 0;}

.form_sec{display: grid;grid-template-columns: 1fr 1fr;grid-column-gap: 20px;} /* book free valuation form tab index ok */
.find-your-address { min-height:700px; }
.find-your-address form { float: left;width: 100%;margin: 0;padding: 0; }
.find-your-address form fieldset { padding: 0;width: 100%;float: left;min-width: 300px; }
.vendor-loading * {display: none;}
.vendor-loading{ background:rgba(0,0,0,0.5) url(img/loader.gif)no-repeat center center ; position: absolute; right: 0%; top: 200px; min-width: 200px; z-index: 999; min-height: 300px; text-align: center; border-radius: 10px; }
.vendor-loading:after{content: "Loading Local Experts"; color:#fff;font-size: 14px;padding-top: 180px;display: block;width: 100%;}

.pull-left {float: left;}
.pull-right {float: right;}
.address-result {position: absolute;left: 0;right: 0;top: 100%;background-color: #fff;box-shadow: 0 4px 20px -2px rgba(0,0,0,.6);z-index: 3;overflow: auto;height: 16.25em;}
.address-result-header {padding: 1.25em 1em;overflow: hidden;}
.address-result-header p {margin-bottom: 0;}
.address-result-header .label_left {font-weight: 600;font-size: 1.1em;color: #5f1f6c;}
.address-result-header .label_right {font-size: .6875em;color: #3c3b3b;cursor: pointer;}
.address-result ul {margin: 0;padding: 0;list-style: none;}
.address-result li {padding: 1em;margin: 0 .9375em;color: #9b9b9b;font-size: .75em;position: relative;border-bottom: 1px solid #ddd;cursor: pointer;}
.address-result label.error {left: 0;right: unset;}
.toggle-address{text-decoration: underline;cursor: pointer;}
.prefer-agent-div{width: 100%;float: left;background: #eee;padding-left: 20px;border-radius: 6px;margin-bottom: 30px;}
/*.this-areas-vender .chose-home-style {float: right;width: 58%;margin-top: 10px;}*/
/*.local-propertyp-team .this-areas-vender h2 .c-checkbox-7 {float: none;vertical-align: middle;}*/

/*check agent in book valuation*/ 
.chose-home-style.agent-check{display: flex;align-items: center;justify-content: center;width: 100%;margin-bottom: 4px;}
.chose-home-style.agent-check .c-checkbox-7{height: 32px !important;}
.chose-home-style.agent-check .checkmark7{display: inline-block;position: static;height: 30px;padding: 3px 15px;font-weight: 700;}

.evaluation_row{
    width: 100%;
    float: left;
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 30%;
}
.find-your-address{
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    margin: 0;
}
.local-propertyp-team{
    width: 100%;
    height: 100%;
    position: static;
    float: left;
    top: 50px;
    background: #292149;
    border-radius: 0 8px 8px 0;
}
#this-areas-vender-slider{top: 0px;}
.local-propertyp-team .this-areas-vender{
    max-height: none;
}
.local-propertyp-team h2{
    color:#fff;
    margin: 15px 0;
    font-size: 24px;
}
/* book valuation steppy title font size reduced*/
.stepy-header li span {font-size: 14px;}


/*remove google logo from dropdown*/
.pac-container:after {background-image: none !important;height: 0px;}

/* error message position */
label#loc-error{right:unset;left:0}

/*loader for remote validation*/ 
.inputLoader:before {
    content: url("../img/loader.gif");
    display: inline-block;
    position: absolute;
    left: 0;
    top: 31px;
}
.find-your-address .inputLoader:before {top: 15px;}
.registration-step .inputLoader:before {top: 9px;}
.profile-entry-form .inputLoader:before {left: 148px;top: 3px;}

/* agent profile multiple postcode */
.profile-entry-form .bootstrap-tagsinput .label-info {
    color: #fff;
    background: #ccae60;
    padding: 0px 7px;
    border-radius: 3px;font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
/* agent profile step hide /diaplay prev-button color change */ 
.profile-step{display: none;}
.profile-step.active{display: inline-block;max-width: 700px;width: 100%;}
/*.profile-step.active{display: block;}*/
.profile-step.active-info{display: block;}

.profile-step .button-2.prev{background: #e6e6e3;border: 1px solid #292149;color: #292149;padding: 9px;}
.profile-step .button-2.prev:hover{background: #292149;color: #e6e6e3;}

/* agent profile status icon */ 
.document-list .file-status{width:20px;height: 20px;}
.document-list .file-status span:before{ width:20px;height: 20px;font-family: 'Font Awesome 5 Free'; font-weight: 900; display: inline-block;text-align: center;}
.document-list .file-status span.pending:before {content: "\f12a";color:#b89c00;}
.document-list .file-status span.approved:before {content: "\f560";color: #008000;}
.document-list .file-status span.declined:before {content: "\f05e";color:#DA2C17;}

/* frontend table */
.frontend-table{width: 100%;border: 1px solid #ececec;}
.frontend-table th{color: #666;font-size: 15px;font-weight: 400;background: #ececec;padding: 5px 10px;text-align: left;}
.frontend-table td{font-size: 13px;color: #8a8a8a;padding: 3px 10px;text-align: left;}
.frontend-table tr:nth-child(even) td{background: #ececec;}
.frontend-table td select{border: 1px solid #dadada;padding: 3px}
.frontend-table td a:not(.button-all){color: #8a8a8a;}
.frontend-table td.action-col{text-align: center;}
.frontend-table td.action-col a{color:#fff;margin: 0; font-size: 14px;padding: 1px 4px;line-height: normal;border-radius: 3px;}
.frontend-table td.action-col a:not(.button-all){background: #c8a444;}

.frontend-table td.action-col a:hover{background: rgba(0,0,0,0.1);}

/*modal used in valuation request*/
.book-viewing-main.modal{float: none;}
.book-viewing-main.modal h2 {color: #292149;margin-bottom: 2vh;font-size: 20px;font-weight: 600;}
.book-viewing-main.modal h3 {margin: 0 0 7px; float: left;padding-top: 10px;}
.book-viewing-main.modal .step-title{float: none;padding: 10px;margin: 0px 0 20px 0;font-size: 18px;}
.book-viewing-main.modal .step-title{float: none;padding: 10px;margin: 0px 0 20px 0;font-size: 18px;}
/* table used in modal */
.modal-detail{border-spacing: 0;width: 100%;float: left;max-width: 500px;border: solid 1px #e4e4e4;}
.modal-detail tr td{font-size: 13px;color: #393939;font-weight: 500;border-right: solid 1px #e4e4e4;border-bottom: solid 1px #e4e4e4;padding: 8px;letter-spacing: 0.1px;text-align: left;}
.modal-detail tr td:first-child{font-weight: 600;}
.modal-detail tr td a{word-break: break-all;}

.book-viewing-main.modal button{float: right;padding-left: 11px;padding-right: 11px;}
/* image used in table */
.img_div{display: inline-block; width: 80px; max-height: 80px;overflow: hidden;}
.img_div img{max-width: 100%;}
/*modal spinner background removed*/
 .modal-spinner{z-index: 999;background: none;}
 
/*Agent Profile --> Edit Property Page*/

.text-left{text-align: left}
.description_complete { border: solid 1px #a7a4a4;-moz-appearance: none;-webkit-appearance: none;width: 18px;height: 18px;background: #fff;border-radius: 4px; }
.description_complete:checked { background: #c8a444; }
.description_complete_word { font-size: 12px;font-weight: 700; }
.form_width_85 { width: 90%; }
.form_width_85 .from-group label:not(.error) { width: 27%; }
.form_width_85 .from-group input { width: 55%; }
#key_features_table_update tr th { text-align: initial; }
#key_features_table_update tr td { text-align: initial; }
.mar_right_5 { margin-right: 5px; }
.set_nav_btn_width { min-width: 90px; }
#online_input_url { float: none;width: 100%; }
.search-prorerty-info .info-list span { cursor: pointer; }
.search-prorerty-info li.complet-info span { cursor: pointer; }
.info-link li a.active-info{ color:#c8a444; }
.border-box span {font-size: 13px;font-weight: 400;color: #595959;}
.img_gallery .select_img, .delete_img, .select_plans, .delete_plans {cursor: pointer; text-align: center; }
.img_gallery .delete_img, .delete_plans { margin-right: 20px; }
.photo-gallery-box li img {z-index:9;}
.photo-div-left {min-height: 163px;}
#dropzoneSubmit { margin-top: 5px; }
#dropzone_container h3 { text-align: center; text-transform: uppercase; }
#floor_plan_dropzone_container h3 { text-align: center; text-transform: uppercase; }
#dropzoneSubmitTwo { margin-top: 5px; }
.border-box .default_image_icon { color: #292149; position: absolute; z-index: 1; left: 3px; top: 5px; font-size: 19px; text-align: center; }
/* Style the tab */
.tab { float: left; border-right: 1px solid #ccc; width: 30%; }
/* Style the spans inside the tab */
.tab span { display: block; background-color: inherit; width: 100%; outline: none; text-align: left; cursor: pointer; transition: 0.3s; border-bottom: 1px solid #e3e3e3; padding: 10px; font-size: 13px; color: #292149; font-weight: 300;}
.tab:last-child span{ border-bottom: 0; }
/* Style the delete buttons inside the tab */
.tab .delete-btn { font-size: 12px; color: #292149; font-weight: 400; text-decoration: underline; float: right; }
.tab .delete-btn:hover { color: #c8a444; }
/* Change background color of spans on hover */
.tab span:hover { background-color: #ddd; }
/* Create an active/current "tab span" class */
.tab span.active { background-color: #ededed; }
/* Style the tab content */
.tabcontent { float: left; padding: 0px 12px; width: 70%; border-left: none; height: 300px; position: relative; }
.tabcontent textarea { border: 2px solid black; margin-top: 11px; width: 100%; border: 1px solid #eaeaea; font-size: 14px; color: #393939; padding: 10px;
                       resize: vertical; }
.tabcontent .edit_icon { position: absolute; top: 10px; right: 5px; font-size: 20px; }
/* Style the readonly element */
.for_readonly { background-color: #f1f1f1; }
.description_border{ border: 1px solid #ccc };
.tab span strong { display: inline-block; width: 90%; }
/* frontend profile link on header */ 
.top-links li{
    position: relative;
}
.top-links li:nth-child(n+2) a{
    text-transform: capitalize;
}
.top-links li ul.sub-menu{
    position: absolute;
    right: 0;
    top: 40px;
    width: 160px;
    background: #c8a444;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease-out;
}
.top-links li:hover ul.sub-menu{
    opacity: 1;
    visibility: visible;
}
.top-links li ul.sub-menu:before{
    content: '';
    position: absolute;
    right: 30px;
    top: -10px;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
    border-bottom: solid 10px #c8a444;
}
.top-links li ul.sub-menu li{
    width: 100%;
    margin: 0 !important;
}
.top-links li ul.sub-menu li a{
    display: block;
    font-size: 14px;
    padding: 6px 10px;
    text-transform: capitalize;
    font-weight: normal;
    margin-bottom: 2px;
}
.top-links li ul.sub-menu li a:hover{
    color: #fff;
    background: #b68f27;
}


/*Agent Profile --> Properties List Page*/
.properties_list_table tr td { border-bottom: 1px solid #e3e3e3; border-right: 1px solid #e3e3e3; padding: 10px;}
.properties_list_table tr:last-child td { border-bottom: none; }
.key-features-table tr td:last-child { border-right: none; text-align: center; }
/*.properties_list_table .delete_property_btn, .edit_property_btn { font-size: 12px; color: #292149; font-weight: 400; }
.properties_list_table .edit_property_btn { font-size: 13px; }*/
.key-features-table tr th:last-child { border-right: none; text-align: center; }

/*home page feature tabs - only 2 visible : width: 50% */
.site-special-link li {width: 50%;}
.menuActive{background: #292149;}

/* Seller Property list live property: Ribbon CSS  */
.ribbon {width: 150px;height:150px;overflow:hidden;position: absolute; display: none;}
.ribbon::before,.ribbon::after {position: absolute;z-index: -1;content: '';display: block;border: 5px solid #2980b9;}
.ribbon span {position: absolute;display: block;width: 225px;padding: 15px 20px 15px 0;background-color: #3498db;box-shadow: 0 5px 10px rgba(0,0,0,.1);color: #fff;font: 700 13px/15px 'Lato', sans-serif;text-shadow: 0 1px 1px rgba(0,0,0,.2);text-transform: uppercase;text-align: center;}
.ribbon.live,.ribbon.offer,.ribbon.sold{display: block;}

.ribbon.live span{background-color: #539c52;}
.ribbon.live span:before{content:'live'}
.ribbon.live::before,.ribbon.live::after {border-color: #589e57;}

.ribbon.offer span {background-color: #3498db;}
.ribbon.offer span:before{content:'offer accepted'}
.ribbon.offer::before,.ribbon.offer::after {border-color:  #2980b9;}

.ribbon.sold span {background-color: #292149;}
.ribbon.sold span:before{content:'sold'}
.ribbon.sold::before,.ribbon.sold::after {border-color:  #100c1e;}


/* top left*/
.ribbon-top-left {top: -10px;left: -10px;}
.ribbon-top-left::before,
.ribbon-top-left::after {border-top-color: transparent;border-left-color: transparent;}
.ribbon-top-left::before {top: 0;right: 4px;}
.ribbon-top-left::after {bottom: 1px;left: -2px;}
.ribbon-top-left span {right: -25px;top: 30px;transform: rotate(-45deg);}

/* Seller --> My Properties Page */
#user-main-title{margin-top: 40px;float: left;width: 100%;background: #292149;color: #fff;height: 58px;line-height: 58px;font-size: 18px;padding: 0 15px;margin-bottom: 0;font-weight: 600;}
.pos_rel { position: relative; }

/*modal used in user profile*/
    .modal .ajent-profile-left,.modal .ajent-profile-left .profile-entry-form{width:100%;}
    .modal .ajent-profile-left .from-group label:not(.error){width:30%;}
    .modal .ajent-profile-left .chose-home-style,
    .modal .ajent-profile-left .from-group input,
    .modal .ajent-profile-left .from-group select{width: 70%;}
    .modal .ajent-profile-left .chose-home-style input{z-index: 99;}

 /* modal used in viewing change status action */
    .modal-form .profile-entry-form{width: 100%;padding: 0 0 15px 0;}
    .modal-form .profile-entry-form h3{color: #c8a444;padding: 0px 0px 11px;}
    .modal-form .profile-entry-form p{font-size: 14px;line-height: 18px;font-weight: 600px;color:#666;}
    .modal-form .from-group .button-1,.modal-form .from-group .button-2{margin: 0 6px 0 6px;float:right; min-width: 100px;}
    .modal-form .from-group{width: 100%;}
    .modal-form .from-group input[type="text"], .modal-form .from-group input[type="email"],.modal-form .from-group input[type="password"],.modal-form .chose-home-style,.modal-form .from-group input[type="number"],.modal-form .from-group textarea{width: 68%;float: left;}
    .modal-form .from-group label:not(.error){width: 30%}
    .modal-form .property-card-page{margin-top: -20px;}
    .modal-form .property-card-page .bg-box{margin:0;}
    /* new tim-picker start*/
    .dtime-picker.from-group input.datepicker{max-width: 119px;}
    .dtime-picker.from-group input.timepicker{max-width: 80px;}
    .dtime-picker .ui-timepicker-wrapper{max-width: 100px;background: #292149;border-radius: 4px;position: absolute;top: 38px;right: 89px;left:auto !important;}
    .dtime-picker .ui-timepicker-list li{padding-left: 10px !important;color: #fff;font-size: 15px;}
    .dtime-picker.inputLoader:before{left: 245px;}
    /* new tim-picker end*/
    
    /* timepicker plugin ui used in reschedule modal */
    .dropdown-menu { position: absolute;top: 100%;left: 0;z-index: 1000;display: none;float: left;min-width: 10rem;
    padding: .5rem 0;margin: .125rem 0 0;font-size: 1rem;color: #212529;text-align: left;list-style: none;
    background-color: #fff;background-clip: padding-box;border: 1px solid rgba(0,0,0,.15);border-radius: .25rem;
  }
  
  /*geocode picker*/
  .from-group input.geocode { width: 36.6%;float: left;margin-right: 10px; }
  .map_container { height: 400px; }
  .from-group input.map_geo { float:left; width: 30%; margin-right: 10px; }
  .postcode_field input.map_postcode { float: left;width: 44%; }
  .map_btn { font-size: 20px;color: #c8a444;margin-top: 3px; }
  /*.lat_lng_fields, .postcode_field { display: none; }*/ 
  
  
  /*.property_result_sec_right{position: relative;}*/
  .wide-map-btn{position: absolute;right: -10px;top:50%;width: 40px;height: 40px;font-size: 30px;line-height: normal;color: rgba(0,0,0,0.8);cursor: pointer;}
  .compact-map-btn{position: absolute;right: -10px;top:50%;width: 40px;height: 40px;font-size: 30px;line-height: normal;color:rgba(0,0,0,0.8);display: none;cursor: pointer;}
  
  /*content listing and filter page*/
    .data-listing .border-box { border: solid 1px #e1e1e1; }
    .data-listing.main-user-data .form-section,.data-listing.main-user-data .form-button-section{margin: 0;}
    .data-listing .property-filter .select1 { float: right; }   
    .data-listing.main-user-data h3{float: left;width: 100%;color: #292149;font-size: 16px;background: #eee;line-height: 30px;padding-left: 14px;margin-top: 8px;}
    .data-listing .toggle-btn {float: right;margin-right: 10px;cursor: pointer;}
    .data-listing .toggle-btn.active svg{transform: rotate(-180deg); transform-origin: center center;}
    .data-listing .row.border-box{position: relative;}
    .data-listing .list-loader{width: 100%;float: left;position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: rgba(255,255,255,0.6);z-index: 99;display: none;text-align: center;}
    .data-listing .list-loader:before{content: url('../img/interwind3.gif');position: relative;left:0;right: 0}
    
    /* agent dashboard */
    .agent-dashboard .book-viewing-main{min-height: 246px;margin-top: 21px;}
    .agent-dashboard .book-viewing-main p{margin: 2px 0;line-height: 14px;}
    .agent-dashboard .book-viewing-main h4{float: left;width: 100%;font-size: 17px;color: #c8a444;font-weight: 600;margin: 9px 0 9px 0;text-align: center;}
    .agent-dashboard .property-listing{width: 100%;}
    
    .agent-dashboard .property-list-box .owl-nav {height: 0; position: absolute;left: -30px;right: -30px;top: 35%;}
    .agent-dashboard .property-list-box .owl-nav button {font-size: 50px;font-weight: 300;color: #d9d9d9;}
    .agent-dashboard .property-list-box .owl-nav .owl-next {float: right;}
    .agent-dashboard .property-list-box .owl-nav .owl-prev {float: left;}

    .star-content .star {background: #eac00c; display: inline-block; width: 18px; height: 18px; margin: 0px; color: #ffffff; font-size: 11px; text-align: center; line-height: 18px;margin: 5px 1px;} 

/* Agent Profile Page */ 
#cke_bio_editor { float: left; width: 100%; }
#short_description_field input { width: 100%;}
#short_description_field label { width: 100%;}

/*feedback rating section*/
/****** Style Star Rating Widget *****/
.rating_div{float: right;width: 73%;}
.rating {border: none;float: left;}
.rating > input { display: block;float: right;position: relative;left: -17px;top: 18px;opacity: 0;}
.rating > .full:before {font-size: 1.25em;font-family: "Font Awesome 5 Free";content: "\f005";display: inline-block;padding-right: 3px;vertical-align: middle;font-weight: 900;}
.rating > .full{width: 15px !important;}
.rating > .half:before {content: "\f089";position: absolute;font-weight: 300;}
.rating > label:not(.error) { color: #ddd;float: right !important;display: inline-block;width: auto;position: relative;z-index: 999;cursor: pointer;}
.rating label:not(.error){color: #d4d4d4 !important;}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ .full, /* show gold star when clicked */
.rating:not(:checked) > .full:hover, /* hover current star */
.rating:not(:checked) > .full:hover ~ .full { color: #FFD700 !important;  } /* hover previous stars in list */

.rating > input:checked + .full:hover, /* hover current star when changing rating */
.rating > input:checked ~ .full:hover,
.rating > .full:hover ~ input:checked ~ .full, /* lighten current selection */
.rating > input:checked ~ .full:hover ~ .full { color: #FFED85;  } 

#addFeedback .from-group{display: grid;grid-template-columns: 130px 1fr;}  
#addFeedback .from-group > label:not(.error){width: 100% !important;text-align: left;}
#addFeedback .from-group .rating_div{width: 100% !important;}
#addFeedback .from-group.button-section{display: block;text-align: center;}
#addFeedback .from-group.button-section .button-1{float: none;}
.right-content-section h3 a {color: #292149; }
/*feedback rating section end */

/****** Style Star Rating Widget *****/
.rating_div{float: right;width: 73%;}
.rating {border: none;float: left;}
.rating .stars{display: inline-block; width: 22px;}
.rating .stars > label{padding: 0;}
.rating .stars > input { display: block;float: right;position: relative;left: -17px;top: 18px;opacity: 0;}
.rating .stars > .full:before {font-size: 1.25em;font-family: "Font Awesome 5 Free"; content: "\f005";display: inline-block;padding-right: 3px;vertical-align: middle;font-weight: 900;}

#addFeedback label.error{position: absolute !important;left:0;right:initial;top: -11px;}
#addFeedback label.error:after{left: 13px !important;}

@media only screen and (max-width :1261px) {
    .result_box_col ul li a {font-size: 9px;}
}
@media(max-width:1160px){
 .search_col select {font-size: 11px;}
 .search_col form input[type="search"] {font-size: 12px;}
}
@media only screen and (max-width :1015px) {
    .result_box_col ul li a {font-size: 0;letter-spacing: 0px;padding: 10px;line-height: 0;text-align: center;}
    .result_box_col ul li a i,.result_box_col ul li a svg {font-size: 15px;}
}

@media (max-width: 980px){
    .evaluation_row{grid-template-columns: 100%;}
    .find-your-address{min-height: auto;border-radius: 8px;margin-bottom: 20px;}
    .local-propertyp-team{border-radius: 8px;}
    .search_col{display: block;float:left;padding: 14px 10px 0 10px;font-size: 13px;}
    .search_col span span{font-size: 13px;}
    .search_col svg{font-size: 13px;}
    .search_col input[type="submit"] {padding: 5px 15px;font-weight: normal;margin-top: -2px;}
    .order-results{padding: 5px 15px;margin-top: -2px;}
    .search_col::after{border-right:0;}
    .search_col select {font-size: 11px;padding-right: 18px;border:1px solid #dcdcdc;}
    .search_col form input[type="search"] {font-size: 12px;}
    .search_col:nth-child(6) {width: auto;}
    .left-contain-inner,.right-contain-inner{float: left;width: 100%;padding: 0;}
    .search_col:nth-of-type(1){display: block;float: left;width: 20%;margin-bottom: 0;padding-top: 24px;min-width: 70px;}
    .search_col:nth-of-type(2){width: 80%;height: 62px;}
    .search_table {padding: 5px 0;}
    .search_col:nth-of-type(3),.search_col:nth-of-type(4),.search_col:nth-of-type(5),.search_col:nth-of-type(6){width: auto;}
    .header {padding: 5px 0;}
    .search_col input[type="submit"], .search_col input[type="button"] {padding: 6px 25px;}
    .order-results {margin-top: 0px;}
    .frontend-table td.action-col a{margin-bottom: 5px;}
}
@media only screen and (max-width :850px) {
    .result_box_col:nth-of-type(1), .result_box_col:nth-of-type(2){ width: 100%;}
    .result_box_col .imgbox img {display: inline;padding-left: 10px;}
}
@media only screen and (max-width :815px) {
  .search_col{display: block;float: left;padding: 0 10px !important;font-size: 0;position: relative;}
  .search_col svg {font-size: 15px;color: #fff;padding-right: 0;}
  .search_col span span{background: #525553;display: block;padding: 10px 12px;}
  .search_col span span {font-size: 0;display: none !important;}
  .search_col:nth-of-type(1){min-width:40px;width: auto;padding-top: 0;}
  .content-section.property-directory span {font-size: 16px;line-height: normal;font-weight: normal;color: #2b2b2b;height: 40px;background: #2b2b2b;display: block;padding: 0;line-height: 40px;width: 40px;}
  .search_col:nth-of-type(2) {width: 82%;}
.search_col svg.submit-btn-icon {left: 25px;top: 13px;display: block;}
.search_col input[type="submit"], .search_col .order-results{font-size: 6px;color: transparent;padding: 11px 10px;line-height: 19px;margin-top: 0px;display: block;}
.search_col:nth-of-type(3){clear: both;}
.dropdown-div {top:40px;}
}
@media only screen and (max-width :767px) {
    .property_result_sec_left{padding-left: 3%;padding-right: 0;width: 96%;margin-top: 25px;}
    .property_result_sec_right{position: relative !important;top: auto !important;width: 100%;float: left;margin-top: 130px;}
    .property_result_sec_right #map-section{position:static !important;}
    .dropdown-div {width: 250px;}
    .search_col .dropdown-div h3,.search_col .dropdown-div label{padding: 4px 4px;font-size: 12px;} 
    .search_col:nth-of-type(8) .dropdown-div{right: 0;left: auto;}
    .search_col:nth-of-type(6) .dropdown-div{right: -75px;left: auto;}
}
@media only screen and (max-width :540px) {
#searchbar {margin-top: 55px;}
}
.search_col .order-results{line-height: 18px;}
@media(max-width:480px){
    .content-section.property-directory .search_row1{padding: 5px 10px;}
    .search_col {padding: 0 2px !important;}
    .search_col svg.submit-btn-icon {left: 17px;}
    .book-viewing-main.modal{padding: 10px;}
    
    #addFeedback .from-group{grid-template-columns: auto;}
    .rating > .full{width: 15px !important;}
}