body {
    background:#ffffff;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    color: #2a3635;
    padding: 0;
    margin:0;
}

#wrapper{
    width:100%;
    padding:0;
}

#header {
    position:relative;
    height:100px;
    width: 1024px;
    border:0;
    margin:0 auto 0 auto;
    padding:0;
}
#header-outer {
    position:relative;
    height:100px;
    border:0;
    margin:0;
    padding:0;
    background: url(images/banner-bg.jpg) repeat-x;
}
#main {
    position:relative;
    width: 1024px;
    margin:0 auto 0 auto;
    padding: 0;
    background: #ffffff url(images/left-col-bg.jpg) repeat-y;
    border-right: 1px solid #e0e0e0;
}
#left-col {
    width: 200px;
    height: 100%;
    float: left;
    background: #eceeee;
    padding: 10px;
}
#right-col {
    width: 804px;
    height: 100%;
    float: right;
    background: #ffffff;
}
#tc-whole {
    position:relative;
    width: 1024px;
    padding: 0 0 20px 0;
    background: #ffffff;
}
#inner, #inner2 {
    margin: 0 10px 0 10px;
}
#footer {
    position:relative;
    height:100px;
    border:0;
    width: 1024px;
    margin:0 auto 0 auto;
    padding:0;
}
#footer-outer {
    margin: 0 0 50px 0;
    padding: 0;
    background: url(images/footer-bg.jpg) repeat-x;
}
/*
        standard tags
*/

img {
    border: none;
}

a {
    color: #2a3635;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1 {
    margin: 10px 0 10px 0;
    padding: 5px 0 5px 10px;
    font-size: 15px;
    color: #a73f16;
    background: #eceeee;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

h2 {
    margin: 10px 0 10px 0;
    padding: 3px 0 3px 0;
    font-size: 14px;
    color: #a73f16;
    /*background: #eceeee;*/
    /*border-top: 1px solid #e0e0e0;*/
    /*border-bottom: 1px solid #e0e0e0;*/
}

p {
    margin-top: 3px;
    margin-bottom: 5px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.5;
}

hr {
    border: 0;
    color: #e0e0e0;
    background-color: #e0e0e0;
    height: 1px;
    margin: 0;
    padding: 0;
}

/*
form{
        margin: 0;
        padding: 0;
}
*/
form p {
    position:relative;
    margin-top: 0;
    margin-bottom: 10px;
}

label{
    margin-right: 30px;
    padding:2px 0 0 0;
    vertical-align: top;
}

input, textarea, select {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 2px;
}

select {
    width: 172px;
}

fieldset{
    position:relative;
    border:1px solid #d3c1cf;
    padding: 7px;
    margin:0 0 10px 0;

}

legend{
    font-family:Arial, Helvetica, sans-serif;
    color:#a18e7d;
    font-size:12px;
    margin-bottom: 10px;
}

table{
    width: 100%;
    margin-bottom: 10px;
    font-size: 12px;
}

caption {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}
thead{
    background:#eeefff;
}
td, th{
    text-align: left;
    padding: 7px;
}
tfoot {
    background:#eeefff;
    font-weight: bold;
}

#recaptcha {
    padding: 0 0 10px 0;
    margin-left: 138px;
}


/*
        specific things
*/
#frmEnquiry, #frmReview {
    padding:10px 0 10px 0;
}
#frmEnquiry label, #frmReview label {
    float:left;
    display:block;
    width: 110px;
}
#frmEnquiry input, #frmReview input  {
}
#banner-logo {
    position: absolute;
    top: 0;
    left: 10px;
}
#myGallery {
    width: 249px !important;
    height: 134px !important;
} 
#customerservice {
    position: absolute;
    top: 10px;
    right: 50px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#customerservicetel {
    position: absolute;
    top: 25px;
    right: 21px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}

ul#menu {
    position: absolute;
    bottom: 0;
    right: 3px;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
ul#menu li {
    margin: 0;
    padding: 0 20px;
    border: 1px solid #7ca19d;
    background: #7ca19d;
    display: inline-block;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
ul#menu li.selected {
    background: #FFF;
    color: #000;
}
ul#menu:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
}
ul#menu:before {
    z-index: 1;
}
ul#menu li {
    position: relative;
    z-index: 0;
}
ul#menu li.selected {
    z-index: 2;
    border-bottom-color: #FFF;
}
ul#menu li:before,
ul#menu li:after {
    position: absolute;
    bottom: -1px;
    width: 6px;
    height: 6px;
    content: " ";
}
ul#menu li:before {
    left: -6px;
}
ul#menu li:after {
    right: -6px;
}
ul#menu li:before {
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
    box-shadow: 2px 2px 0 #7ca19d;
}
ul#menu li:after {
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
    box-shadow: -2px 2px 0 #7ca19d;
}
ul#menu li.selected:before {
    box-shadow: 2px 2px 0 #FFF;
}
ul#menu li.selected:after {
    box-shadow: -2px 2px 0 #FFF;
}
ul#menu li a {
    color: #FFFFFF;
    text-decoration: none;
}
ul#menu li.selected a {
    color: #000000;
    text-decoration: none;
}

/*ul#menu {*/
/*position: absolute;*/
/*bottom: -8px;*/
/*right: 3px;*/
/*margin: 0;*/
/*padding: 0;*/
/*}*/
/*ul#menu li {*/
/*list-style: none;*/
/*display: inline;*/
/*margin: 0;*/
/*padding: 0;*/
/*}*/
/*a.tab-small {*/
/*float: left;*/
/*display: block;*/
/*width: 62px;*/
/*height: 23px;*/
/*margin: 0 2px 0 0;*/
/*padding: 4px 0;*/
/*background: url(images/tab-sm.jpg) no-repeat;*/
/*text-align: center;*/
/*color: #fff;*/
/*font-size: 13px;*/
/*}*/
/*a:hover.tab-small, a.tab-small-on, a:hover.tab-small-on {*/
/*float: left;*/
/*display: block;*/
/*width: 62px;*/
/*height: 23px;*/
/*margin: 0 2px 0 0;*/
/*padding: 4px 0;*/
/*background: url(images/tab-sm-on.jpg) no-repeat;*/
/*text-decoration: none;*/
/*text-align: center;*/
/*color: #000;*/
/*font-size: 13px;*/
/*}*/
/*a.tab-medium {*/
/*float: left;*/
/*display: block;*/
/*width: 91px;*/
/*height: 23px;*/
/*margin: 0 2px 0 0;*/
/*padding: 4px 0;*/
/*background: url(images/tab-md.jpg) no-repeat;*/
/*text-align: center;*/
/*color: #fff;*/
/*font-size: 13px;*/
/*}*/
/*a:hover.tab-medium, a.tab-medium-on, a:hover.tab-medium-on {*/
/*float: left;*/
/*display: block;*/
/*width: 91px;*/
/*height: 23px;*/
/*margin: 0 2px 0 0;*/
/*padding: 4px 0;*/
/*background: url(images/tab-md-on.jpg) no-repeat;*/
/*text-decoration: none;*/
/*text-align: center;*/
/*color: #000;*/
/*font-size: 13px;*/
/*}*/

#product-lhs {
    position: relative;
    padding: 15px 10px 15px 15px;
    width: 341px;
}

input.small-btn {
    width: 62px;
    height: 24px;
    margin: 0;
    background:url(images/btn-find.jpg) no-repeat;
    border: 0;
    text-align:center;
}
input.go2basket-btn {
    width: 140px;
    height: 24px;
    margin: 0;
    padding: 0 0 3px 10px;
    background:url(images/btn-continue-to-checkout.jpg) no-repeat;
    border: 0;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}
input.go2basket-btn:hover {
    width: 140px;
    height: 24px;
    margin: 0;
    padding: 0 0 3px 10px;
    background:url(images/btn-continue-to-checkout-on.jpg) no-repeat;
    border: 0;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}
input.add2basket-btn {
    width: 52px;
    height: 22px;
    margin: 0;
    padding: 0 0 3px 0;
    background:url(images/btn-add.jpg) no-repeat;
    border: 0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
input.add2basket-btn:hover {
    width: 52px;
    height: 22px;
    margin: 0;
    padding: 0 0 3px 0;
    background:url(images/btn-add-on.jpg) no-repeat;
    border: 0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
input.medium-btn {
    width: 99px;
    height: 24px;
    margin: 0;
    background:url(images/btn-medium.jpg) ;
    border: 0;
    text-align:center;
}
input.large-btn {
    width: 150px;
    height: 24px;
    margin: 0;
    background:url(images/btn-large.jpg) ;
    border: 0;
    text-align:center;
}

ul.foot-menu {
    position: relative;
    margin: 15px 0 0 0;
    padding: 0 25px 0 25px;
    color: #fff;

    display: block;
}
ul.foot-menu li {
    list-style: none;
    display: block;
    margin: 0 0 5px 0;
}
.foot-menu a {
    color: #bbb;
    font-size: 10px;
}

.list-prod-title {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 32px;
    width: 211px;
    padding: 0;
    margin: 0 0 4px 0;
}
.homedisplay-box {
    margin: 10px 0 10px 10px;
    padding: 0 0 10px 10px;
    width: 770px;
    background: #495d5b;
}
#slideholder {
}

.small-prod-blk {
    width: 211px;
    height: 211px;
    margin: 0 10px;
    padding: 5px;
    text-align: center;
}

.brand-blk {
    width: auto;
    height: auto;
    margin: 0 20px 10px 20px;
    padding: 5px;
    text-align: center;
}

p.underline {
    background:url(images/underline.jpg) no-repeat;
    padding: 0;
    margin: 0 auto 5px auto;
    height: 1px;
    width: 150px;
}
.copyright {
    position: absolute;
    top: 85px;
    right: 10px;
    margin: 0;
    padding: 0;
    font-size: 10px;

}
.big-price {
    font-size: 16px;
    color: #a73f16;
}
.medium-price {
    font-size: 14px;
    color: #a73f16;
}
#breadcrumbtrail {
    height: 20px;
    padding: 10px;
}
#add-box {
    position: absolute;
    top: 20px;
    right: 20px;
    background: url(images/add-box.png) no-repeat;
    width: 160px;
    height:98px;
    border: none;
    text-align:center;
}
input.add2basket-lg-btn {
    width: 115px;
    height: 25px;
    margin: -5px 0 0 0;
    padding: 0 0 3px 0;
    background:url(images/btn-add-to-basket.jpg) no-repeat;
    border: 0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
input.add2basket-lg-btn:hover {
    width: 115px;
    height: 25px;
    margin: -5px 0 0 0;
    padding: 0 0 3px 0;
    background:url(images/btn-add-to-basket-on.jpg) no-repeat;
    border: 0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.product-pics {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.thumbnail-pics {
    margin-top: 10px;
}
.thumbnail-pics img {
    margin: 5px 0 0 5px;
    padding: 2px;
    border: 1px solid #CCCCCC;
}
.options-blk {
    width: 384px;
    margin-top: 25px;
    padding-right: 20px;
}
.options-blk ul {
    margin: 0 0 0 30px;
    padding: 0;
    text-align: left;
}
.options-blk li {
    margin: 0;
    padding: 0 0 5px 0;
}
.others-blk {
    width: 280px;
    margin-top: 25px;
    padding-left: 20px;

}

.related-blk {
    width: 230px;
    height: 153px;
    margin: 0 5px;
    padding: 5px;
    border: 1px solid #eceeee;
}
.related-txt {
    line-height:normal;
    padding: 0 0 0 5px;
    width: 128px;
}
.more-info {
    background:url(images/right-arrow.jpg) no-repeat;
    background-position: right;
    height: 20px;
    padding-right: 20px;
}

#sub-categories {
    position: relative;
    margin:5px 0 20px 0;
    padding:5px;
    width: 790px;
}

#sub-categories a {
    float: left;
    padding: 6px 5px 0 5px;
    margin: 0 5px 10px 5px;
    display: block;
    text-align: center;
    width: 130px;
    height: 34px;
    font-size: 12px;
    background: #eceeee;
    border: solid 1px #dadcdc;
    box-shadow: 2px 2px 2px #dadcdc;
    text-decoration: none;
    font-weight: bold;
}

#sub-categories a:hover {
    float: left;
    padding: 6px 5px 0 5px;
    margin: 0 5px 10px 5px;
    display: block;
    text-align: center;
    width: 130px;
    height: 34px;
    font-size: 12px;
    background: #dadcdc;
    border: solid 1px #dadcdc;
    text-decoration: none;
    font-weight: bold;
}

#addons-blk, #variations-blk {
    position: relative;
    margin: 0 0 20px 0;
}

#addons-blk .addon-variations-blk {
    position: relative;
    margin: 5px 0 5px 0;
}

.addon-blk {
    border: 1px solid #e6e6bc;
    padding: 5px;
    margin-bottom: 5px;
}

#addons-blk .addon-selected {
    margin-right: 10px;
}

.numeric-input {
    width: 38px;
}
.small-input {
    width: 64px;
}
.medium-input {
    width: 128px;
}
.large-input {
    width: 192px;
}
.vlarge-input {
    width: 256px;
}
.xlarge-input {
    width: 320px;
}
.small-select {
    width: 70px;
}
.medium-select {
    width: 134px;
}
.large-select {
    width: 198px;
}
.vlarge-select {
    width: 262px;
}
.delivery-select {
    width: auto;
}
#basket {
    width: 100%;
    margin-bottom: 10px;
}
#basket-product {
    width: 55%;
}
#basket-quantity, #basket-price, #basket-total {
    width: 15%;
    text-align: right;
}
.check-radio-box{
    border:none;
    width:20px;
    padding: 0;
    margin:0;
    left:0;
}

.new-product {
    position: absolute;
    right: 180px;
    top: 50px;
    width: 150px;
    height: 26px;
    padding: 2px 0 0 0;
    color: #fff;
    background: #ff0000;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}

.clearance-product {
    position: absolute;
    right: 180px;
    top: 50px;
    width: 208px;
    height: 26px;
    padding: 2px 0 0 0;
    color: #fff;
    background: #0000ff;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}
.sale-product {
    position: absolute;
    right: 180px;
    top: 50px;
    width: 170px;
    height: 26px;
    padding: 2px 0 0 0;
    color: #0000ff;
    background: #ffff00;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}

h2.faq-question {
    border: 0;
    background: #ffffff;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 0;
}
#faq li {
    margin-bottom: 5px;
}
/*
        page navigation
*/

#pagenav {
    font-size: 12px;
    text-align: center;
    color: #000000;
    /*	width: 98%;*/
    margin: 10px 0 10px 0;
    padding: 5px 0 0 0;
    border-top: 1px solid #e9e0e7; 
}
#pagenav img {
    margin: 0;
    padding: 0 2px 0 2px;
}
#pagenav a {
    color: #000000;
    text-decoration: none;
}
#pagenav a:hover {
    color: #000000;
    text-decoration: underline;
}

/*
        generic classes
*/
.top-pad {
    padding: 10px 0;
}
.text-small {
    font-size: 9px;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.split5050 {
    width: 48%;
}
.no-margin-padding {
    margin: 0;
    padding: 0;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clearblock {
    clear: both;
}
.clearright {
    clear: right;
}
.bold {
    font-weight: bold;
}
.red {
    color: #a73f16;
}
.white {
    color: #fff;
}
.grey {
    color: #bbb;
}
.dark-grey {
    color: #969696;
}
.big-top-pad {
    padding-top: 50px;
}
.left-pad {
    padding-left: 10px;
}
.right-pad {
    padding-right: 10px;
}
#header .facebook {
    position: absolute;
    top: 20px;
    left: 550px;
}
#socialmedia {
    position: relative;
    border-top: 1px solid #efefef;
    margin: 10px 0;
}
#socialmedia a {
    margin-right: 5px;
}

/*
---------------------------
        TESTIMONIALS
---------------------------
*/
#reviews {
    position: relative;
    border-top: 1px solid #efefef;
    margin: 10px 0;
}
#reviews a {
    margin-right: 5px;
}


.testimonial-blk {
    margin: 5px 0 15px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px dotted #cdcdcd;
}

.testimonial {
    font-style: italic;
}
.testimonial-by {
    color: #a73f16;
    float: left;
}
.testimonial-date {
    float: right;
}

.sidetestimonial-blk {
    margin-bottom: 10px;
    padding-left: 15px;
}
p.sidetestimonial {
    line-height: normal;
    margin-top: -15px;
    margin-left: 5px;
    font-style: italic;
}
img.left-quote {
    margin-left: -20px;
}
.sidetestimonial-by {
    color: #bcbcbc;
    font-size: 12px;
}
.banner {
    width: 100%;
	float: left;
	padding: 10px;
	box-sizing: border-box;
}
.banner-box {
	 width: 100%;
	float: left;
    background: #495d5b;
}
.banner-col-1 {
	width: 50%;
	float: right;
}
.banner-col-2 {
	box-sizing: border-box;
	padding: 10px;
	width: 50%;
	float: left;
}
.banner-col-1 img {
    width:100%;
    height:auto;
}
/*---------------------respo_menu---------------------------*/
.responsive_menu {
	width: 100%;
	position: relative;
	display: none;
	float: left;
	margin: 67px 0 0 0;
	background: transparent;
}
.responsive_menu li {
	display: inline;
	float: right;
	cursor: pointer;
	margin-right: 4%;
}
.responsive_menu li ul {
	width: 100%;
	background:#384846;
	position: absolute;
	right: 0;
	top: 50px;
	text-align: left;
	transition: 300ms all;
	-moz-transition: 300ms all;
	-webkit-transition: 300ms all;
	opacity: 0;
	z-index: 1000;
	height: 0px;
	overflow: hidden;
	border-radius: 0 0 4px 4px;
	padding: 0px;
}
.responsive_menu li.open ul {
	opacity: 1;
	top: 32px;
	height: auto;
}
.responsive_menu li ul li {
	display: block;
	float: left;
	width: 100%;
}
.responsive_menu li ul li:last-child a {
	border-bottom: none;
}
.responsive_menu li ul li a {
	padding: 12px 15px;
	color: #fff;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #465755;
	transition: 300ms all;
	-moz-transition: 300ms all;
	-webkit-transition: 300ms all;
	font-family: sans-serif;
	font-size: 15px;
}
.responsive_menu li ul li a:hover {
	/*background: #002847;*/
	color: #ffa203;
}
.responsive_menu li ul li a.active {
	/*background: #002847;*/
	color: #ffa203;
}
.menu {
	padding: 5px 3px;
	width: 36px;
	height: 25px;
	display: block;
	float: right;
}
.menu .line {
	width: 30px;
	height: 3px;
	background: #FFF;
	display: inline-block;
	position: relative;
	top: 6px;
}
.menu .line:before {
	width: 30px;
	height: 3px;
	background: #FFF;
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 6px;
	transition: 300ms all;
	-moz-transition: 300ms all;
	-webkit-transition: 300ms all;
}
.menu .line:after {
	width: 30px;
	height: 3px;
	background: #FFF;
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 6px;
	transition: 300ms all;
	-moz-transition: 300ms all;
	-webkit-transition: 300ms all;
}
.open {
}
.open .line {
	width: 30px;
	height: 3px;
	background: transparent;
	display: inline-block;
	position: relative;
	top: 6px;
}
.open .line:before {
	width: 30px;
	height: 3px;
	background: #FFF;
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0px;
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}
.open .line:after {
	width: 30px;
	height: 3px;
	background: #FFF;
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0px;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}
/*---------------------respo_menu---------------------------*/
/*media screen a--------------====================+++++++++++====================*/
@media screen and (max-width:1020px) {
	* {
		box-sizing: border-box;
	}
	img {
		max-width: 100%;
	}
	#wrapper {
    	width: 100%;
		margin: 0 auto;
	}
	#header {
		width: 92%;
	}
	#main {
		width: 92%;
		background: none;
	}
	#footer-outer {
		width: 100%;
		float: left;
		background: none;
		background: rgba(48,63,60,1);
		background: -moz-linear-gradient(top, rgba(48,63,60,1) 0%, rgba(67,86,84,1) 22%, rgba(73,93,91,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,63,60,1)), color-stop(22%, rgba(67,86,84,1)), color-stop(100%, rgba(73,93,91,1)));
		background: -webkit-linear-gradient(top, rgba(48,63,60,1) 0%, rgba(67,86,84,1) 22%, rgba(73,93,91,1) 100%);
		background: -o-linear-gradient(top, rgba(48,63,60,1) 0%, rgba(67,86,84,1) 22%, rgba(73,93,91,1) 100%);
		background: -ms-linear-gradient(top, rgba(48,63,60,1) 0%, rgba(67,86,84,1) 22%, rgba(73,93,91,1) 100%);
		background: linear-gradient(to bottom, rgba(48,63,60,1) 0%, rgba(67,86,84,1) 22%, rgba(73,93,91,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303f3c', endColorstr='#495d5b', GradientType=0 );
	}
	
	#footer {
		width: 92%;
	}
	#left-col {
		width: 23%;
		background: #edefee;
	}
	#right-col {
		width: 76%;
	}
	.large-select {
		width: 100%;
	}
	.large-input {
		width: 100%;
	}
	.small-prod-blk {
		width: 33%;
		padding: 10px;
		margin: 0px;
	}
	#sub-categories  {
		width: 100%;
		margin: 5px 0;
	}
	#sub-categories a, #sub-categories a:hover {
		width: 24%;
		display: table;
		height: 50px;
		padding: 5px;
		margin: 0 1% 1% 0;
	}
	#sub-categories a span {
		 display: table-cell;
    	vertical-align: middle;
	}
	.frmEnquiry-col-1 {
		width: 49%;
		float: left;
	}
	.frmEnquiry-col-2 {
		width: 49%;
		float: right;
	}
	.xlarge-input {
		width: 100%;
	}
	#enquiry {
		width: 100%;
		height: 136px;
	}
	#testimonial {
		width: 100%;
	}
	#frmEnquiry label, #frmReview label {
		width: 100%;
		margin-bottom: 5px;
	}
	#recaptcha {
		margin-left: 0px;
	}
	#product-lhs {
		width: 49%;
	}
	.options-blk {
		width: 49%;
	}
	.related-blk {
		width: 32%;
		height: auto;
		margin: 0 1% 0 0;
	}
	#frmCheckout label {
		width: 100%;
		float: left;
		text-align: left;
		margin-bottom: 5px;
	}
	.inner-img-pad img {
		padding: 5px;
	}
	
}
@media screen and (max-width:960px) {
	.responsive_menu {
		display: block;
	}
	#menu {
		display: none;
	}
	#header {
    	width: 100%;
	}
	#banner-logo {
		left: 4%;
	}
	#customerservice {
    	right: 4%;
	}
	#customerservicetel {
    	right: 4%;
	}
}
@media screen and (max-width:860px) {
	#left-col {
		width: 100%;
	}
	#right-col {
		width: 100%;
		height: auto;
		position: relative;
	}
	#breadcrumbtrail {
		height: auto;
		padding: 15px;
		width: 100%;
		float: left;
	}
	#add-box {
		top: 100px;
	}
	#footer {
		height: auto;
	}
	ul.foot-menu {
		width: 33%;
		padding: 0 10px;
	}
	.copyright {
		width: 100%;
		float: left;
		position: inherit;
		right: auto;
		top: auto;
		text-align: left;
	}
	.brand-blk {
    	width: 25%;
		margin: 5px 0;
	}
	#product-lhs {
		width: 100%;
	}
	.options-blk {
		width: 100%;
	}
}
@media screen and (max-width:730px) {
	.related-blk {
    	width: 49%;
		margin-bottom: 10px;
	}
}
@media screen and (max-width:680px) {
	.small-prod-blk {
		width: 50%;
	}
	.brand-blk {
    	width: 33%;
	}
	.banner-col-1 {
		width: 100%;
	}
	.banner-col-2 {
		width: 100%;
	}
	#sub-categories a, #sub-categories a:hover {
    	width: 48%;
		margin: 0 2% 2% 0;
	}
	.frmEnquiry-col-1 {
		width: 100%;
	}
	.frmEnquiry-col-2 {
		width: 100%;
	}
}
@media screen and (max-width:480px) {
	.small-prod-blk {
		width: 100%;
		height: auto;
		text-align: center;
		margin-bottom: 10px;
		border: #f1f1f1 solid 1px;
	}
	.list-prod-title {
		width: 100%;
		text-align: center;
		display: inherit;
	}
	.small-prod-blk img {
		float: none;
	}
	.more-info {
		width: 100px;
		margin: auto;
	}
	ul.foot-menu {
    	width:50%;
	}
	.brand-blk {
		width: 50%;
	}
	#customerservice {
		font-size: 12px;
	}
	#customerservicetel {
		font-size: 18px;
	}
	.related-blk {
    	width: 100%;
	}
	.split5050 {
		width: 100%;
	}
	
	
}
@media screen and (max-width:380px) {
	#sub-categories a, #sub-categories a:hover {
    	width: 100%;
		margin: 0 0 5px 0;
	}
	.related-txt {
		width: 100%;
	}
}