*{margin: 0px;padding: 0px;outline: none;border: none;text-decoration: none;list-style: none;box-sizing: border-box;}
img {max-width: 100%;}
.clear{clear: both;}
body{font-family: 'Poppins', sans-serif;}
body.overflow{overflow: hidden;}
a{text-decoration:none; cursor: pointer;transition: all 600ms ease-out;-o-transition: all 600ms ease-out;-ms-transition: all 600ms ease-out;-moz-transition: all 600ms ease-out;-webkit-transition: all 600ms ease-out;}
a:hover{text-decoration:none;}
::placeholder {color: #656565;opacity: 1; /* Firefox */}
:-ms-input-placeholder { /* Internet Explorer 10-11 */color: #656565;}
::-ms-input-placeholder { /* Microsoft Edge */color: #656565;}
.wrapper{width: 100%;margin: 0 auto;}
.main{width: 100%;float: left;}
.header{width: 100%;float: left;background: #3f51b5;position: relative;}
.logo-header{width: 350px;float: left;background: #303f9f;padding:30px;position: absolute;left:0;top: 0;box-shadow: 0 0 10px rgba(0,0,0,0.5);}
.header-right{width: 100%;float: left;padding-left: 350px;}
.header-right h1{float: left;padding:33px 20px 33px 20px;font-size: 27px;color: #c5cae9;text-transform: capitalize;font-weight: 300;}
.account-menu{cursor:pointer;width: 40px;height: 40px;float: right;color: #fff;font-size: 30px;text-align: right;margin-right: 30px;padding-top: 35px;}
.left-menu-icon{cursor:pointer;width: 40px;height: 40px;float: left;color: #fff;font-size: 30px;text-align: left;margin-left: 30px;padding-top: 15px;margin-top: -5px;display: none;}
.toplinks-ul{box-shadow:0 0 5px rgba(0,0,0,0.5);display: none;position: absolute;right: 10px;top:80px;width: 250px;background: #fff;border-radius: 6px;border:1px solid #d7e0f1;z-index: 5;}
.toplinks-ul:after{content:'';position: absolute;right:25px;top:-10px;width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid #d7e0f1;}
.toplinks-ul li{display: inline-block;width: 100%;padding:0 25px;}
.toplinks-ul li:last-child{display: inline-block;width: 100%;border-top:1px solid #edf0f5;}
.toplinks-ul li a{display: inline-block;width: 100%;color: #000;font-size: 18px;padding: 10px 0;}
.toplinks-ul li a i{color: #3f51b5;font-size: 18px;padding-right: 5px;display: inline-block;width: 25px;text-align: left;}
.toplinks-ul li a:hover,.toplinks-ul li a:hover i{color: #535354;}
.toplinks-ul li:last-child a,.toplinks-ul li:last-child a i{color: #e64a19;}
.content-section{width: 100%;float: left;}
.content-section .wrapper{position: relative;float: left;}
.slider-left{z-index: 9;bottom: 0px;width: 350px;top:0;left: 0;position: absolute;background: #fff;box-shadow: 0 0 10px rgba(0,0,0,0.5);}
.profile-data-section{width: 100%;float: left;padding: 20px 30px 20px 30px;border-bottom: 1px solid #edf0f5;}
.profile-pic{width: 120px;height: 120px;border-radius: 50%;overflow: hidden;text-align: center;float: left;margin-right: 15px;}
.profile-pic img{width: 100%;}
.profile-name{font-size: 16px;color: #404142;text-transform: uppercase;float: left;margin-top: 50px;}
.creat-wf-section{width: 100%;float: left;border-bottom: 1px solid #edf0f5;padding: 20px 30px 20px 30px;}
.creat-wf-section .button-1 i{display: none;}
.button-1{cursor: pointer;border:0;text-align:center;display:inline-block; background: #303f9f;color: #fff;font-size: 14px;text-transform: uppercase;padding:10px;width: 100%;}
.button-1:hover{background: #3a3a3a;color: #fff;}
.button-2{cursor: pointer;border:0;text-align:center;display:inline-block; background: #3f51b5;color: #fff;font-size: 14px;text-transform: uppercase;padding:10px 30px;border-radius: 3px;margin-right: 10px;}
.button-2:hover{background: #3a3a3a;color: #fff;}
.button-3{cursor: pointer;border:0;text-align:center;display:inline-block; background: #faad30;color: #fff;font-size: 14px;text-transform: uppercase;padding:10px 30px;border-radius: 3px;margin-right: 10px;}
.button-3:hover{background: #a1a1a1;color: #fff;}
.button-4{cursor: pointer;border:0;text-align:center;display:inline-block; background: #fdc02b;color: #2f2f2f;font-size: 15px;text-transform: uppercase;padding:12px 30px;font-weight: 600; border-radius: 3px;margin-right: 10px;}
.button-4:hover{background: #fde72b;color: #000;}
.left-menu{width: 100%;float: left;padding: 20px 30px 20px 30px;}
.left-menu li{width: 100%;float: left;}
.left-menu li a{width: 100%;float: left;color: #434343;font-size: 14px;font-weight: 400;padding: 9px;}
.left-menu li a i{padding-right: 10px;}
.left-menu .sub-menu{padding-left: 20px;position: relative;}
.sub-menu-list{position: relative;}
.sub-menu-list:before{content:"";background: url(../images/select-icon.png)center center no-repeat;position: absolute;width: 15px;height: 15px;top:12px;right: 10px;display: block;z-index: 9;}
.left-menu li a:hover{background: #eaecf0;border-radius: 3px;}
.main-content-section{width: 100%;float: left;padding:0 0 30px 380px;background: #edf0f5;min-height: 751px;}
.dashboard-menu{border:1px solid #d7e0f1;background: #fff;float: left;width: 108%;margin: 0;margin-left: -8%;padding-left: 8%;}
.dashboard-menu li{float: left;display: inline-block;padding: 0 25px;}
.dashboard-menu li:first-child{padding-left: 0;}
.dashboard-menu li a{display: inline-block;padding: 10px 0;color: #2c3e50;font-size: 16px;font-weight: 400;text-transform: uppercase;border-bottom: 4px solid #fff;}
.dashboard-menu li a:hover,.dashboard-menu li a.active{color: #434343;border-bottom: 4px solid #3f51b5;}
.main-content{float: left;width: 97%;background: #fff;border:1px solid #d7e0f1;padding: 20px 0 20px 20px;margin: 30px 0 30px 0;}
.main-form{float: left;width: 100%;}
.form-div{float: left;width: 100%;margin-bottom: 20px;}
.form-label{color: #434343;font-size: 14px;font-weight: 400;width: 160px;text-align: left;float: left;padding-right: 10px;}
.required-fild{color: #ff0000;}
.text-box{padding: 0 10px;float: left;width: 65%;height: 36px;border:solid 1px #dddddd;color: #646363;font-size: 14px;font-weight: 400;}
.text-file{padding: 0 10px;float: left;width: 65%;height: 36px;border:0;color: #646363;font-size: 14px;font-weight: 400;}
.textarea-box{float: left;width: 65%;height: 60px;border:solid 1px #dddddd;color: #646363;font-size: 14px;font-weight: 400;resize: vertical;padding: 0 10px;}
.check-box{padding: 0 10px;float: left;width: 20px;height: 20px;border:solid 1px #dddddd;color: #646363;font-size: 10px;font-weight: 300;margin: 9px 0 0 10px}
.padding-left140{margin-left: 140px;}
.footer{float: left;width: 100%;background: #3f51b5;}
.footer .copy-rt-text{color: #fff;font-size: 14px;font-weight: 400;padding:25px 0 25px 30px;margin: 0;}
.login-page,.register-page{min-height:100vh;
background: rgba(47,112,209,1);
background: -moz-linear-gradient(top, rgba(47,112,209,1) 0%, rgba(22,52,109,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(47,112,209,1)), color-stop(100%, rgba(22,52,109,1)));
background: -webkit-linear-gradient(top, rgba(47,112,209,1) 0%, rgba(22,52,109,1) 100%);
background: -o-linear-gradient(top, rgba(47,112,209,1) 0%, rgba(22,52,109,1) 100%);
background: -ms-linear-gradient(top, rgba(47,112,209,1) 0%, rgba(22,52,109,1) 100%);
background: linear-gradient(to bottom, rgba(47,112,209,1) 0%, rgba(22,52,109,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f70d1', endColorstr='#16346d', GradientType=0 );}
.login-page .wrapper,.register-page .wrapper{max-width: 1200px;}
.logon-left-section{float: left;width: 50%;text-align: center;padding-top: 15%;}
.logon-form-section{float: left;width: 50%;padding: 8% 0 0 10%;border-left: 1px solid #386dc7;}
.logon-left-section p{color: #fff;font-size: 23px;font-weight: 400;text-transform: uppercase;margin-top: 15px;}
.logon-form-section h1{color: #fff;font-size: 33px;font-weight: 300;text-align: left;text-transform:capitalize;margin: 0 0 10px 0;}
.logon-form-section input[type="email"],.logon-form-section input[type="password"],.logon-form-section input[type="text"],.logon-form-section input[type="tel"]{height: 45px;background: #fff;border:0; border-radius: 4px;font-size: 16px;font-weight: 400;color: #919090;padding: 0 10px;margin-top: 20px;width: 360px;max-width: 100%;}
.logon-form-section .login-links{color: #fff;font-size: 13px;font-weight: 400;text-transform: capitalize;margin: 0;padding: 0;line-height: 23px;margin-top: 10px;text-align: left;}
.logon-form-section .login-links a{padding:0 3px;border-bottom:1px solid #fff;color: #fff;font-size: 13px;font-weight: 400;text-align: left;text-transform: capitalize;}
.logon-form-section .login-links a:hover{color: #ffb500;border-bottom:1px solid #ffb500;}
.logon-form-section .login-links i{padding-right: 10px;}
.logon-form-section .btn100{width: 360px;max-width: 100%;}
.logon-form-section .button-4{margin: 35px 0 10px 0;}
.search-item-div{padding-top: 20px;padding-bottom: 20px;}
.search-div1{float:left;height: 40px;width: 27%;border:1px solid #dfdfdf;border-radius: 3px;background: url(../images/search-icon.png) 8px center no-repeat;margin-right:  20px;padding-left: 20px;}
.search-box-1{padding: 0 5px;float: left;width: 100%;height: 35px;border:0;color: #616060;font-size: 12px;font-weight: 400;}
.search-btn{border-radius: 3px;cursor: pointer;border:0;text-align:center;display:inline-block; background: #26a441 url(../images/search-icon2.png) 8px center no-repeat;color: #fff;font-size: 13px; font-weight: 500;text-transform: uppercase;padding:10px 20px 10px 30px;margin-right: 10px;}
.search-btn:hover{background: #303f9f url(../images/search-icon2.png) 8px center no-repeat;color: #fff;}
.view-all-btn{border-radius: 3px;cursor: pointer;border:0;text-align:center;display:inline-block; background: #303f9f url(../images/view-icon.png) 8px center no-repeat;color: #fff;font-size: 13px; font-weight: 500;text-transform: uppercase;padding:10px 20px 10px 30px;}
.view-all-btn:hover{background: #26a441 url(../images/view-icon.png) 8px center no-repeat;color: #fff;}
.payment-list-div{background: none;border:0;padding: 0;}
.payment-list-top{float: left;width: 100%;}
.select-1{min-width: 120px;color: #616060;font-size: 13px;font-weight: 400;float:left;height: 35px;width: 25%;border:1px solid #dfdfdf;border-radius: 3px;-webkit-appearance: none;-moz-appearance:none;appearance:none;background:#fff url(../images/select-icon.png) 95% center no-repeat;padding: 0 10px; }
.payment-list-buttons{float: right;width: 435px;}
.btn-blue{float:left;border-radius: 3px;cursor: pointer;border:0;text-align:center;display:inline-block; background: #3f51b5;color: #fff;font-size: 13px; font-weight: 500;text-transform: uppercase;padding:7px 15px;margin-right: 10px;}
.btn-red{float:left;border-radius: 3px;cursor: pointer;border:0;text-align:center;display:inline-block; background: #d15b47;color: #fff;font-size: 13px; font-weight: 500;text-transform: uppercase;padding:7px 15px;margin-right: 10px;}
.btn-orange{float:left;border-radius: 3px;cursor: pointer;border:0;text-align:center;display:inline-block; background: #ffb752;color: #fff;font-size: 13px; font-weight: 500;text-transform: uppercase;padding:7px 15px;}
.btn-blue:hover,.btn-red:hover,.btn-orange:hover{opacity: 0.7;color: #fff;}
.btn-blue i,.btn-red i,.btn-orange i{padding-right: 8px;}
.payment-list-table{background: #fff;border:1px solid #d7e0f1;border-radius: 4px;text-align: center;}
.payment-list-table thead{
background: #f2f4fa; /* Old browsers */
background: -moz-linear-gradient(top, #f2f4fa 0%, #dde4f2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f2f4fa 0%,#dde4f2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f2f4fa 0%,#dde4f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f4fa', endColorstr='#dde4f2',GradientType=0 ); /* IE6-9 */}
.payment-list-table th{color: #2e3f5d;font-size: 13px;font-weight: 500;padding: 12px 5px;border-right: 1px solid #d7e0f1;border-bottom: 1px solid #d7e0f1;}
.payment-list-table td{word-break: break-all;color: #565656;font-size: 13px;font-weight: 400;padding: 14px 5px;border-bottom: 1px solid #d7e0f1;border-right: 1px solid #d7e0f1;}
.un-paid{background: #ffb752;color: #fff;font-size: 12px;padding: 4px 0;border-radius: 3px;text-transform: uppercase;width: 64px;display: inline-block;}
.paid{background: #26a441;color: #fff;font-size: 12px;padding: 4px 0;border-radius: 3px;text-transform: uppercase;width: 64px;display: inline-block;}
.paid:hover,.un-paid:hover{color: #fff;opacity: 0.7;}
.payment-list-table td .action-btn{color: #d15b47;font-size: 20px;position: relative;cursor: pointer;}
.payment-list-table td .action-btn:hover{color: #3f51b5;}
.payment-list-table th:last-child{border-right: 1px solid #d7e0f1;}
.payment-list-table td:last-child{border-right: 1px solid #d7e0f1;}
.payment-list-table tr:last-child td{border-bottom: 1px solid #d7e0f1;}
.show-result-text{color: #565656;font-size: 13px;font-weight: 400;margin: 10px 0;float: left;width: 100%;}
.action-btn-list{box-shadow:0 0 8px rgba(0,0,0,0.7);display:none;position: absolute;right: 0;top: 30px;width: 200px;background: #fff;border-radius: 4px;border:1px solid #d7e0f1;padding:4px 10px;z-index: 2;}
.action-btn-list:after{content:'';position: absolute;right:15px;top:-10px;width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid #fff;}
.action-btn-list li{float: left;width: 100%;}
.action-btn-list li:last-child{border-bottom: 0;}
.action-btn-list li a{float: left;width: 100%;color: #000;font-size: 13px;font-weight: 500;padding:6px 5px;text-align: left;text-transform: uppercase;}
.action-btn-list li a i{padding-right: 7px;}
.action-btn-list li a:hover{color: #d15b47;background: #eaecf0;}
/*.nav.nav-tabs li a{float:left;border-radius: 3px 3px 0 0;cursor: pointer;border:0;text-align:center;display:inline-block; background: #d15b47;color: #fff;font-size: 13px; font-weight: 500;text-transform: uppercase;padding:7px 15px;margin-right: 1px;}
.nav.nav-tabs li a:hover,.nav.nav-tabs li a.active{background: #ffb752;color: #fff;}
.tab-content>.active {display: block;opacity: 1;}
.tab-content{width: 100%;float: left;padding:30px 15px 10px 15px;border:1px solid #d7e0f1;border-top: 0;border-radius: 0 0 4px 4px;}
.tab-content .form-label{width: 160px;}*/
.padding-left160 {margin-left: 160px;}
.tab-content>.active {display: block;opacity: 1;}
.tab-text-center{text-align: center;margin: 30px 0;}
.tab-cont-link{border-radius: 3px;cursor: pointer;border:0;text-align:center;display:inline-block; background: #26a441;color: #fff;font-size: 18px; font-weight: 500;text-transform: uppercase;padding:15px 0;min-width: 300px;}
.tab-cont-link:hover{background: #ffb752;color: #fff;}
.profile-data{float: left;width: 100%;background: #fff;border-radius: 4px;border:1px solid #d7e0f1;margin-bottom: 20px;}
.profile-data h2{border-bottom:1px solid #d7e0f1;background: #fff;font-size: 18px;padding: 8px 15px;color: #3f51b5;border-radius: 4px 4px 0 0;}
.pro-d-left{float: left;width: 20%;padding: 5px 15px;font-size: 15px;color: #434343;font-weight: 500;min-height: 35px;}
.pro-d-right{float: left;width: 70%;padding: 5px 15px;font-size: 14px;color: #434343;min-height: 35px;font-weight: 300;clear: right;}
.profile-data .btn-edit{float:right;margin-right: 0;margin-top: -4px;color: #585858;}
.profile-data .btn-edit:hover{color: #000;}
.profile-data h3{font-size: 16px;padding: 5px 15px;color: #434343;}
.profile-data p{font-size: 14px;padding: 0 15px;color: #434343;line-height: 30px;}
.profile-data h1{border-bottom:1px solid #d7e0f1;background: #fff;font-size: 22px;padding: 12px 15px;color: #3f51b5;border-radius: 4px 4px 0 0;}

.success-page{padding:40px !important;width: 100%;margin: 0;border:0;min-height: 80vh;}
.success-page .main-content{padding: 0;margin: 0;background: none;border: 0;text-align: center;width: 80%;margin-left: 10%;}
.success-page-header{text-align: center;}
.success-page-header .logo-header {width: 100%;float: none;background: none;padding:10px;position: static;left: auto;top: auto;box-shadow: none;}




/*------------Responsive Design CSS Section-------------*/
@media (max-width:1150px){
	.search-btn,.view-all-btn{font-size: 0;height: 40px;position: relative;top: 0px;background-position: center center;}
	.payment-list-table th {font-size: 11px;}
	.payment-list-table td {font-size: 11px;}

}
@media (max-width:1100px){
	
	/*.nav.nav-tabs li a {font-size: 11px;}*/
}
@media (max-width:1040px){	
	.dashboard-menu li a {font-size: 14px;}
	.logo-header {width: 280px;}
	.slider-left {width: 280px;}
	.main-content-section {padding: 0 0 30px 300px;}	

}
@media (max-width:992px){
    .logon-left-section{float: left;width: 100%;text-align: center;padding-top: 5%;}
    .logon-form-section h1{display: none;}
    .logon-form-section input[type="email"], .logon-form-section input[type="password"], .logon-form-section input[type="text"], .logon-form-section input[type="tel"]{width: 100%}
    .logon-form-section {float: left;padding: 5% 10%;max-width: 70%;width: 100%;margin-left: 15%;border-left:0;}
    .logon-form-section .button-4 {width: 100%;}
    .logon-form-section .login-links {text-align: center;}    
    .dashboard-menu li{padding: 0 20px;}   
    .btn-blue,.btn-red,.btn-orange{padding: 5px 13px;font-size: 12px;}
	.btn-blue,.btn-red{margin-right: 5px;}
	.payment-list-buttons {width: 385px;}
	.text-box, .textarea-box {width: 60%;}
	.pro-d-left{float: left;width: 30%}
	.pro-d-right{float: left;width: 60%;}
}
@media (max-width:840px){
.header-right {padding-left: 0px;width: 70%;}
.header-right h1 {padding:26px 0 0 20px;font-size: 22px;margin: 0;}	
.account-menu {padding-top: 20px;}
.toplinks-ul{top:60px;}
.logo-header {width: 200px;padding: 15px;position: relative;float: left;width: 30%;}
.logo-header img{width: 70%;}
.slider-left {width: 80px;background: #303f9f;}
.main-content-section {padding: 0 0 30px 100px;}
.left-menu li{margin-bottom: 5px;}
.left-menu li a {font-size: 0;text-align: center;padding: 9px 0;}
.left-menu li a i{font-size: 18px;color: #fff;padding: 0;}
.left-menu li a:hover i{color: #303f9f;}
.profile-data-section,.creat-wf-section,.left-menu {padding: 10px;}
.profile-pic {width: 100%; height: 100%;margin: 0;}
.profile-name {display: none;}
.creat-wf-section{text-align: center;}
.creat-wf-section .button-1 {background: #fff;color: #303f9f;font-size: 0px;padding: 9px 10px;width: auto;border-radius: 3px;}
.creat-wf-section .button-1 i{color: #303f9f;font-size: 15px;display: block;}
.sub-menu-list::before,.left-menu .sub-menu {display: none !important;}
.form-label {width: 120px;}
.text-box,.textarea-box{width: 72%;}
.padding-left140 {margin-left: 120px;}
.padding-left160 {margin-left: 0px;}
}
@media (max-width:768px){
.account-menu {padding-top: 20px;}
.header-right h1 {padding:24px 0 0 20px;}
.logo-header img{width: 80%;}	
.dashboard-menu li {padding: 0 15px;}
.dashboard-menu li a {font-size: 12px;}
.form-label {width: 120px;}
.text-box,.textarea-box{width: 62%;}
.payment-list-buttons {width: 170px;}
.payment-list-buttons a{font-size: 0;height: 34px;}
.payment-list-buttons a i{font-size: 13px;font-size: 13px;padding: 0;line-height: 23px;}
.payment-list-table thead {display: none;}
.payment-list-table{padding: 10px;}
.payment-list-table,.payment-list-table tbody,.payment-list-table tr{display: block;float: left;width: 100%;border:0;}
.payment-list-table tr{margin-bottom: 15px;border:1px solid #ccc;}
.payment-list-table tr td{display: block;float: left;width: 100%;text-align: left;border:0 !important;padding: 5px 10px;background: #f5f5f7;margin-bottom: 2px;font-size: 13px;}
.payment-list-table tr td:nth-child(2):before{content:"Name : ";font-weight: 500;}
.payment-list-table tr td:nth-child(3):before{content:"Ref No. : ";font-weight: 500;}
.payment-list-table tr td:nth-child(4):before{content:"Email : ";font-weight: 500;}
.payment-list-table tr td:nth-child(5):before{content:"Phone : ";font-weight: 500;}
.payment-list-table tr td:nth-child(6):before{content:"Bill Amount : ";font-weight: 500;}
.payment-list-table tr td:nth-child(7):before{content:"PayU Status : ";font-weight: 500;}
.payment-list-table tr td:nth-child(8):before{content:"Txn Status : ";font-weight: 500;}
.payment-list-table tr td:nth-child(9):before{content:"Action : ";font-weight: 500;}
.un-paid,.paid{text-align: center;}
/*.nav.nav-tabs li{float: left;width: 100%;margin-bottom: 2px;}
.nav.nav-tabs li a{float: left;width: 100%;text-align: center;border-radius: 4px;font-size: 13px;}*/
.logon-form-section {float: left;padding: 5% 0%;}
.toplinks-ul{top:55px;}
}
@media (max-width:550px){	
	.form-label {width: 100%;}
	.text-box,.textarea-box{width: 90%;}
	.padding-left140 {margin-left: 0px;}
	.dashboard-menu li {padding: 0 10px;}
	.dashboard-menu li a {font-size: 10px;}
	.pro-d-left{float: left;width: 40%}
	.pro-d-right{float: left;width: 60%;}
	.account-menu {padding-top: 10px;}
	.header-right h1 {padding:17px 0 0 20px;}
}
@media (max-width:480px){	
	.logon-form-section {padding: 5% 10%;max-width: 100%;margin-left: 0%;}
	.logon-left-section p {font-size: 18px;}
	.logon-left-section img{ max-width: 65% ;}
	.header-right h1{display: none;}
	.header-right {width: auto;float: right;margin-top: -62px;}
	.logo-header {float: none;width: 30%;margin: 0 auto;background: none;box-shadow: none;}
	.left-menu-icon{display: block;}
	.slider-left {width: 0px;overflow: hidden;}
	.profile-pic {width: 50px;height: 50px;margin: 0;}
	.profile-name {display: block;color: #fff;font-size: 14px;margin-top: 14px;padding-left: 10px;}
	.profile-data-section,.creat-wf-section{border-bottom: 1px solid rgba(255,255,255,0.1);}
	.left-menu li a {font-size: 12px;text-align: left;padding: 9px 5px;color: #fff;}
	.left-menu li a i {font-size: 14px;color: #fff;padding-right: 6px;}
	.left-menu li a:hover{color: #303f9f;}
	.main-content-section {padding: 0 0 30px 0;}
	.dashboard-menu {width: 100%;margin-left: 0;padding-left: 0;}
	.main-content {width: 100%;padding: 20px;}
	.logo-header {width: 130px;padding: 13px 10px;}
	.dashboard-menu li:first-child {margin-left: 0;}
	.dashboard-menu li {padding: 0 0;width: 100%;text-align: center;}
	.dashboard-menu li a {padding: 8px 8px;font-size: 12px;border-bottom: 1px solid #dfe3fb;width: 100%;}	
	.toplinks-ul {top: 45px;width: 220px;}
	.toplinks-ul li {padding: 0 15px;}
	.toplinks-ul li a {font-size: 14px;padding: 8px 0;}
	.toplinks-ul li a i{font-size: 14px;}
	.dashboard-menu {text-align: center;}
	.search-div1 {width: 100%;margin-bottom: 10px;}
	.payment-list-top {padding-left: 20px;}
	.payment-list-top {padding: 0 20px;}
	.text-box, .textarea-box {width: 88%;}
	.search-item-div{padding: 20px;}
	.btn-blue,.btn-red,.btn-orange{padding: 5px 12px;}
	.btn-blue,.btn-red{margin-right: 7px;}
	.payment-list-buttons {width: 122px;}
	.payment-list-top {padding: 0;}
	.pro-d-left{float: left;width: 100%;min-height: auto;padding: 0 15px;}
	.pro-d-right{float: left;width: 100%;min-height: auto;padding: 0 15px;}

}
















