<!--<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<?php // include(DIR_INCL . "/local-msg.inc"); ?>
    </head>
    <body onload="document.forms['frmSagePay'].submit();">
<?php // if (!SAGEPAY_ON) { ?>
            <form method="post" action="protx-rtn.htm" id="frmSagePay">
<?= $this->Form->create(null) ?>
            <input name="Status" type="hidden" value="OK"/>
            <input name="StatusDetail" type="hidden" value="TEST"/>
            <input name="VPSTxId" type="hidden" value="TEST12345"/>
<?php // } else { ?>
<?php // if (SAGEPAY_TEST) { ?>
                <form method="post" action="https://test.sagepay.com/gateway/service/vspform-register.vsp" id="frmSagePay">
<?php // } elseif (SAGEPAY_SIMULATOR) { ?>
                    <form method="post" action="https://test.sagepay.com/simulator/VSPFormGateway.asp" id="frmSagePay">
<?php // } elseif (SAGEPAY_LIVE) { ?>
                        <form method="post" action="https://live.sagepay.com/gateway/service/vspform-register.vsp" id="frmSagePay">
<?php // } else { exit; } } ?>
                    <input name="VPSProtocol" type="hidden" value="3.00"/>
                    <input name="TxType" type="hidden" value="PAYMENT"/>
                    <input name="Vendor" type="hidden" value="<?= PROTX_VENDOR; ?>"/>
                    <input name="Crypt" type="hidden" value="<?= $sCryptedContents; ?>"/>
                    //<?= $this->Form->end() ?>

                </form>
                </body>
                </html>-->


<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="business" value="chinmay235-facilitator@gmail.com">
    <input type="hidden" name="cmd" value="_xclick"
     <input type="hidden" name="item_number" value="<?= $data->qty; ?>">
    <input type="hidden" name="amount" value=" <?= $data->total; ?>">
    <input type="hidden" name="currency_code" value="USD">
    <input type='hidden' name='cancel_return' value='<?= HTTP_ROOT . 'products/cancel' ?>'>
    <input type='hidden' name='return' value='<?= HTTP_ROOT . 'products/sucess/'  ?>'>
    <input type='hidden' name='notify_url' value='<?= HTTP_ROOT . 'products/notify/' ?>'>
<!--    <div class="text-center">
        <input  name="submit" border="0"src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" alt="PayPal - The safer, easier way to pay online"><img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
    </div>-->
</form>
