<script>
    <link rel="stylesheet" type="text/css" href="admin.css"/>
</script>
    <style>
        .btn-purple { height: 38px; }
    </style>
    <div class="row">
        <div class="col-12">
        </div>
    </div>
    <script src="plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js" type="text/javascript"></script>
    <!-- For Croppie Plugin  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.3.0/exif.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.js"></script>
