
<section class="home">
    <div class="container_12">
        <h1><?= $adeptEkol['title']; ?></h1>

        <div id="inner">
            <?= $adeptEkol['content']; ?>
        </div>
    </div>
</section>
<!-- InstanceEndEditable -->
<div class="clearblock"></div>

