<section class="home">
    <div class="container_12">
        <h1> <?= $galleryInstallations['title']; ?> </h1>
        <div id="inner">
            <?= $galleryInstallations['content']; ?>
        </div>
    </div>
</section>
<div class="clearblock"></div>
