<section class="home">
    <div class="container_12">
        <h1> <?= $installerBlog['title']; ?></h1>
        <div id="inner">
            <?= $installerBlog['content']; ?>
        </div>
    </div>
</section>
<div class="clearblock"></div>

