<section class="home">
    <div class="container_12">
        <h1>Returns information</h1>
        <div id="inner">
            <?php echo $returnCms['value1']; ?>
        </div>
    </div>
</section>
<div class="clearblock"></div>

