
<section class="home">
    <div class="container_12">

        <h1>Returns information</h1>
        <div id="breadcrumbtrail">
        </div> 
        <div id="inner">
            <?= $cms['value1']; ?>
        </div>
    </div>
</section>
<!-- InstanceEndEditable -->
<div class="clearblock"></div>

