<section class="home">
    <div class="container_12">

        <h1><?= $sia['title']; ?></h1>
        <div id="inner">
            <?= $sia['content']; ?>
        </div>
    </div>
</section>
<div class="clearblock"></div>
