<section class="home">
    <div class="container_12">
        <h1><?= $termConditions['name']; ?></h1>

        <div id="inner">
            <?= $termConditions['value1']; ?>
        </div>
    </div>
</section>
<!-- InstanceEndEditable -->
<div class="clearblock"></div>

