*{
 margin: 0px;
 padding: 0px;
 outline: none;
 border: none;
 text-decoration: none;
 list-style: none;
 box-sizing: border-box;
}
img {
 max-width: 100%;
}
.clear{
 clear: both;
}
body{
 font-family: 'PT Sans', sans-serif;
}
body.overflow{overflow: hidden;}
.wrapper{
 max-width: 1200px;
 width: 96%;
 margin: 0 auto;
}
.main{
 width: 100%;
 float: left;
 position: relative;
}
body.overflow .main:after{
 content: '';
 position: absolute;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 background: rgba(0,0,0,0.8);
}
.header{
 width: 100%;
 float: left;
 background: #053017;
 text-align: center;
 padding: 22px 0;
}
.header_area{
 position: relative;
}
.logo{display: inline-block;}
.head_right{
 position: absolute;
 right: 0;
 top: 15px;
}
.head_right ul{
 float: right;
}
.head_right ul li{
 display: inline-block;
 float: left;
}
.head_right ul li a{
 display: block;
 font-size: 14px;
 line-height: 22px;
 font-weight: normal;
 color: #f7ffb0;
 text-transform: uppercase;
}
.head_right ul li a:hover{
 text-decoration: underline;
}
.head_right ul li:first-child a{
 margin-right: 12px;
}
.head_right ul li a i{padding-right:3px;font-size: 16px;}

nav{
 width: 100%;
 float: left;
 background: #e4e0d4;
 border-top: solid 1px #e4e0d4;
 border-bottom: solid 1px #e4e0d4;
 text-align: center;
}
nav ul{
 display: inline-block;
}
nav ul li{
 display: inline-block;
 position: relative;
 transition: all 400ms cubic-bezier(0,0,0,1);
 -o-transition: all 400ms cubic-bezier(0,0,0,1);
 -ms-transition: all 400ms cubic-bezier(0,0,0,1);
 -moz-transition: all 400ms cubic-bezier(0,0,0,1);
 -webkit-transition: all 400ms cubic-bezier(0,0,0,1);
}
nav ul li a{
 display: block;
 font-size: 14px;
 line-height: 24px;
 font-weight: normal;
 color: #5a5854;
 letter-spacing: 0.4px;
 text-transform: uppercase;
 padding: 10px 18px;
 margin-right: 1px;
 transition: all 400ms cubic-bezier(0,0,0,1);
 -o-transition: all 400ms cubic-bezier(0,0,0,1);
 -ms-transition: all 400ms cubic-bezier(0,0,0,1);
 -moz-transition: all 400ms cubic-bezier(0,0,0,1);
 -webkit-transition: all 400ms cubic-bezier(0,0,0,1);
}
nav .wrapper ul > li.submenu > a{
 background: url(../../images/nav-icon.png);
 background-position: calc(100% - 0px) center;
 background-repeat: no-repeat;
}
nav .wrapper ul > li.submenu{
 padding-right: 10px;
}
nav ul li:hover,nav ul li a.active{
 background: #859c2e;
}
nav ul li:hover a,nav ul li a.active{
 color: #fff;
}
nav .wrapper ul > li.submenu:hover > a{
 background: url(../../images/nav-icon-hover.png);
 background-position: calc(100% - 0px) center;
 background-repeat: no-repeat;
}

nav ul li ul{
 width: 200px;
 position: absolute;
 left: 0;
 top: 60px;
 z-index: -1;
 background: #859c2e;
 border-top: solid 1px #e4e0d4;
 opacity: 0;
 visibility: hidden;
 transition: all 300ms cubic-bezier(0,0,0,1);
 -o-transition: all 300ms cubic-bezier(0,0,0,1);
 -ms-transition: all 300ms cubic-bezier(0,0,0,1);
 -moz-transition: all 300ms cubic-bezier(0,0,0,1);
 -webkit-transition: all 300ms cubic-bezier(0,0,0,1);
}
nav ul li:hover ul{
 top: 44px;
 opacity: 1;
 visibility: visible;
 z-index: 999;
}
nav ul li ul li{
 width: 100%;
 text-align: left;
 padding-right: 0px;
}
nav ul li ul li a{
 color: #fff;
 text-transform: capitalize;
 padding: 6px 15px;
 border-bottom: solid 1px #728a1a;
 border-top: solid 1px #89a526;
}
nav ul li ul li a:hover{
 background: #728a1a;
}

.banner{
 width: 100%;
 float: left;
 background: #000;
 position: relative;
}
.banner img{
 width: 100%;
 display: block;
 opacity: 0.6;
}
.banner_text{
 position: absolute;
 left: 0;
 right: 0;
 top: 44%;
 transform: translateY(-50%);
 -o-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 -moz-transform: translateY(-50%);
 -webkit-transform: translateY(-50%);
 text-align: center;
}
.banner_text h1{
 font-size: 50px;
 font-weight: bold;
 line-height: 54px;
 color: #fff;
 text-transform: uppercase;
 text-shadow: 5px 4px 10px rgba(0,0,0,1);
}

.search_properties{
 width: 100%;
 float: left;
 text-align: center;
 background: #f5f5f5;
}
.search_properties_box{
 max-width: 857px;
 width: 100%;
 margin: -190px auto 0 auto;
 position: relative;
 background: #fff;
 padding: 30px 6% 70px 6%;
 box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
}
.search_properties_box h3{
 font-size: 24px;
 line-height: 34px;
 font-weight: normal;
 color: #053017;
 margin-bottom: 20px;
}
.search_properties_box ul{
 width: 100%;
 float: left;
}
.search_properties_box ul li{
 width: 14.28%;
 float: left;
 display: inline-block;
 padding: 1px;
}
.search_properties_box ul li a{
 display: block;
 font-size: 15px;
 line-height: 24px;
 font-weight: normal;
 color: #676767;
 background: #f5f5f5;
 border: solid 1px #eeeeee;
 border-radius: 2px;
 padding: 10px 0 6px;
 cursor: pointer;
 transition: all 100ms ease-out;
 -o-transition: all 100ms ease-out;
 -ms-transition: all 100ms ease-out;
 -moz-transition: all 100ms ease-out;
 -webkit-transition: all 100ms ease-out;
}
.search_properties_box ul li a:hover{
 background: #fbfbfb;
}
.search_properties_box ul li a span{
 display: inline-block;
 padding-top: 30px;
 transition: all 100ms ease-out;
 -o-transition: all 100ms ease-out;
 -ms-transition: all 100ms ease-out;
 -moz-transition: all 100ms ease-out;
 -webkit-transition: all 100ms ease-out;
}
.search_properties_box ul li:nth-child(1) span{background: url(../../images/location-icon.png) center 4px no-repeat;}
.search_properties_box ul li:nth-child(2) span{background: url(../../images/map-icon.png) center 2px no-repeat;}
.search_properties_box ul li:nth-child(3) span{background: url(../../images/nearme-icon.png) center 5px no-repeat;}
.search_properties_box ul li:nth-child(4) span{background: url(../../images/draw-icon.png) center 4px no-repeat;}
.search_properties_box ul li:nth-child(5) span{background: url(../../images/travel-icon.png) center 2px no-repeat;}
.search_properties_box ul li:nth-child(6) span{background: url(../../images/station-icon.png) center 4px no-repeat;}
.search_properties_box ul li:nth-child(7) span{background: url(../../images/school-icon.png) center 2px no-repeat;}
.search_properties_box ul li:nth-child(1) span:hover{background-position-y: 2px;}
.search_properties_box ul li:nth-child(2) span:hover{background-position-y: 0px;}
.search_properties_box ul li:nth-child(3) span:hover{background-position-y: 3px;}
.search_properties_box ul li:nth-child(4) span:hover{background-position-y: 2px;}
.search_properties_box ul li:nth-child(5) span:hover{background-position-y: 0px;}
.search_properties_box ul li:nth-child(6) span:hover{background-position-y: 2px;}
.search_properties_box ul li:nth-child(7) span:hover{background-position-y: 0px;}
.search_cont_sec{
 width: 100%;
 float: left;
 margin-top: 20px;
}
.search_cont_sec > div{
 display: none;
}
.search_cont_sec .sale_div{
 width: 22.5%;
 float: left;
}
.search_cont_sec .sale_div select{
 width: 100%;
 float: left;
 font-family: 'PT Sans', sans-serif;
 font-size: 23px;
 line-height: 34px;
 font-weight: normal;
 color: #053017;
 background: #d2dd3c url(../../images/sale-arrow.png) calc(100% - 12px) center no-repeat;
 cursor: pointer;
 text-align: left;
 padding: 8px 14px;
 appearance: none;
 -moz-appearance: none;
 -ms-appearance: none;
 -webkit-appearance: none;
}
.search_cont_sec .search_div{
 width: 77.5%;
 float: right;
}
.search_cont_sec .search_div form{
 width: 100%;
 float: left;
 height: 50px;
}
.search_cont_sec .search_div input[type="text"]{
 width: 90%;
 float: left;
 border-top: solid 1px #dddddd;
 border-bottom: solid 1px #dddddd;
 height: 49px;
 font-family: 'PT Sans', sans-serif;
 font-size: 25px;
 font-weight: normal;
 color: #757575;
 padding: 0 8px;
 transition: all 250ms ease;
 -o-transition: all 250ms ease;
 -ms-transition: all 250ms ease;
 -moz-transition: all 250ms ease;
 -webkit-transition: all 250ms ease;
}
.search_cont_sec .search_div input[type="text"]:focus{
 border-top: solid 1px #c2c2c2;
 border-bottom: solid 1px #c2c2c2;
}
.search_cont_sec .search_div input[type="submit"]{
 width: 10%;
 float: right;
 background: #053017 url(../../images/search-icon.png) center center no-repeat;
 height: 49px;;
 cursor: pointer;
}

.search_cont_sec .map_div{
 width: 100%;
 float: left;
}
.search_cont_sec .prop_list{
 width: 100%;
 float: left;
 text-align: center;
}
.search_cont_sec .prop_list li{
 display: inline-block;
 float: none;
 width: auto;
}
.search_cont_sec .prop_list li a{
 display: block;
 font-family: 'PT Sans', sans-serif;
 font-size: 18px;
 font-weight: normal;
 color: #ffffff;
 background: #053017;
 border: none;
 padding: 8px 20px;
 border: solid 2px #053017;
 transition: all 200ms ease-out;
 -o-transition: all 200ms ease-out;
 -webkit-transition: all 200ms ease-out;
 -ms-transition: all 200ms ease-out;
 -moz-transition: all 200ms ease-out;
}
.search_cont_sec .prop_list li a:hover{
 background: transparent;
 color: #053017;
}

.content_row1{
 width: 100%;
 float: left;
 text-align: center;
 padding: 70px 0;
 background: #f5f5f5;
}
.content_row1 h2{
 font-size: 31px;
 line-height: 36px;
 font-weight: normal;
 color: #053017;
 margin-bottom: 30px;
}
.content_row1 ul{
 width: 100%;
 float: left;
}
.content_row1 ul li{
 width: 25%;
 float: left;
 display: inline-block;
 padding: 15px;
}
.content_row1 ul li a{
 display: inline-block;
 box-shadow: 0px 0px 12px rgba(0,0,0,0.25);
 transition: all 200ms ease-out;
 -o-transition: all 200ms ease-out;
 -webkit-transition: all 200ms ease-out;
 -ms-transition: all 200ms ease-out;
 -moz-transition: all 200ms ease-out;
}
.content_row1 ul li a:hover{
 box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}
.content_row1 ul li h5{
 font-size: 18px;
 line-height: 25px;
 font-weight: bold;
 color: #053017;
 margin-bottom: 8px;
 min-height: 50px;
}
.content_row1 ul li p{
 font-size: 16px;
 line-height: 25px;
 font-weight: normal;
 color: #8f8f8f;
}
.content_row1 ul li img{
 display: block;
}
.content_row1 ul li .prop_cont{
 width: 100%;
 float: left;
 padding: 15px 12px;
 text-align: left;
}
.img_div{
 overflow: hidden;
 height: 180px;
}
.content_row2{
 width: 100%;
 float: left;
 background: #053017;
 text-align: center;
 padding: 40px 0;
}
.content_row2 p{
 font-size: 22px;
 line-height: 30px;
 font-weight: normal;
 color: #fff;
}
.content_row2 span{
 display: block;
 margin: 10px 0 15px;
 font-size: 22px;
 line-height: 30px;
 font-weight: normal;
 color: #fff;
}
.content_row2 a{
 display: inline-block;
 font-size: 15px;
 line-height: 30px;
 font-weight: normal;
 color: #3e6c51;
 transition: all 200ms ease-out;
 -o-transition: all 200ms ease-out;
 -webkit-transition: all 200ms ease-out;
 -ms-transition: all 200ms ease-out;
 -moz-transition: all 200ms ease-out;
}
.content_row2 a:hover{
 color: #c1efd4;
}

.content_row3{
 width: 100%;
 float: left;
 background: url(../../images/row3-bg.jpg) left top repeat;
 padding: 70px 0;
 border-bottom: solid 1px #ececec;
}
.content_row3 ul{
 width: 100%;
 float: left;
}
.content_row3 ul li{
 width: 25%;
 float: left;
 display: inline-block;
 text-align: center;
 padding: 0 10px;
}
.content_row3 ul li a{
 display: inline-block;
}
.content_row3 ul li section{
 display: inline-block;
}
.content_row3 ul li .img_div{
 width: 100%;
 float: left;
 min-height: 105px;
 display: flex;
 margin-bottom: 10px;
}
.content_row3 ul li .img_div img{
 margin: auto;
 position: relative;
 top: 0px;
 transition: all 200ms ease-out;
 -o-transition: all 200ms ease-out;
 -webkit-transition: all 200ms ease-out;
 -ms-transition: all 200ms ease-out;
 -moz-transition: all 200ms ease-out;
}
.content_row3 ul li a:hover .img_div img{
 top: -5px;
}
.content_row3 ul li p{
 font-size: 25px;
 line-height: 25px;
 font-weight: normal;
 color: #053017;
}
.content_row3 ul li p b{
 display: block;
 font-weight: bold;
}

.logo_row{
 width: 100%;
 float: left;
 text-align: center;
 padding: 30px 0;
}
.logo_row ul{
 width: 100%;
 float: left;
 text-align: center;
}
.logo_row ul li{
 display: inline-block;
 padding: 10px;
}

.footer{
 width: 100%;
 float: left;
 background: #f0f0f0;
 padding: 50px 0;
}
.foot_col{
 width: 25%;
 float: left;
 padding-right: 20px;
}
.foot_col.coll > a{
 display: inline-block;
 margin-bottom: 20px;
}
.foot_col.coll{width: 28%;}
.foot_col.col2{width: 22%;}
.foot_col h2{
 font-size: 18px;
 line-height: 24px;
 font-weight: bold;
 color: #053017;
 text-transform: uppercase;
 margin-bottom: 22px;
}
.foot_col p{
 font-size: 16px;
 line-height: 25px;
 font-weight: normal;
 color: #5c5c5c;
}
.foot_col ul{
 width: 100%;
 float: left;
}
.foot_col ul li{
 width: 100%;
 float: left;
 margin-bottom: 5px;
}
.foot_col ul li a{
 display: block;
 float: left;
 font-size: 16px;
 line-height: 25px;
 font-weight: normal;
 color: #5c5c5c;
}
.foot_col ul li a:hover{
 text-decoration: underline;
}

/*responsive-menu-start*/

.line-box {
 cursor: pointer;
 padding: 10px;
 display: none;
 float: left;
 margin-top: -44px;
 margin-left: 5px;
 position: relative;
 z-index: 990;
}
.line {
 margin: 10px 0;
 width: 18px;
 height: 3px;
 background: #fff;
 position: relative;
 top: 0px;
 float: left;
}
.line:before {
 height: 3px;
 background: #fff;
 content: "";
 display: block;
 position: absolute;
 left: 0;
 right: 0;
 top: 7px;
 transition: 300ms all;
 -moz-transition: 300ms all;
 -webkit-transition: 300ms all;
}
.line:after {
 height: 3px;
 background: #fff;
 content: "";
 display: block;
 position: absolute;
 left: 0;
 right: 0;
 bottom: 7px;
 transition: 300ms all;
 -moz-transition: 300ms all;
 -webkit-transition: 300ms all;
}
span.close{
 display: none;
 font-size: 15px;
 line-height: 27px;
 font-weight: normal;
 color: #fff;
 background: #1f1f1f;
 text-transform: uppercase;
 padding: 10px 22px;
 letter-spacing: 0;
 text-align: center;
}
.close{
 display: none;
 background: #879d2f;
 text-align: center;
 color: #fff;
 padding: 10px 5px;
 margin-bottom: 1px;
}

/*responsive-menu-end*/

/*inner-css*/

.search_row1{
 width: 100%;
 float: left;
 background: #f5f5f5;
 border-bottom: 2px solid #e8e8e8;

}
.search_table{
 width: 100%;
 display: table;
 padding: 24px 0;
}
.search_row{
 display: table-row;
}
.search_col{
 display: table-cell;
 vertical-align: middle;
 position: relative;
 padding: 0 10px;
}
.search_col:after{
 content: '';
 position: absolute;
 right: 0;
 top: 5px;
 bottom: 5px;
 border-right: solid 1px #dcdcdc;
}
.search_col i{position:absolute;font-size: 16px;font-weight: normal;color: #b1b0b0;left:15px;top:30%;display:inline-block;}
.search_col select{background: url(../../images/select-arrow.png) right center no-repeat;}
.search_col:last-of-type:after{border-right: none;}
.search_col:first-of-type{width: 285px;}
.search_col:nth-child(6){width: 100px;}
.search_col  input[type="search"]{
 width: 100%;
 float: left;
 border: solid 1px #dbdbdb;
 font-family: 'PT Sans', sans-serif;
 font-size: 16px;
 font-weight: normal;
 color: #7d7d7d;
 padding: 8px;
 border-radius: 4px;
}
.search_col select{
 width: 100%;
 font-size: 14px;
 font-weight: normal;
 color: #7d7d7d;
 padding: 8px 0 8px 28px;
 appearance: none;
 -o-appearance: none;
 -webkit-appearance: none;
 -ms-appearance: none;
 -moz-appearance: none;
 background-color: transparent !important;
 padding-right: 17px;
}
.search_col select option{text-align: left!important;}
.search_col input[type="button"]{
 padding: 8px 25px;
 font-size: 13px;
 line-height: 18px;
 font-weight: bold;
 color: #fff;
 background: #053017;
 cursor: pointer;
 transition: all 400ms cubic-bezier(0,0,0,1);
 -o-transition: all 400ms cubic-bezier(0,0,0,1);
 -ms-transition: all 400ms cubic-bezier(0,0,0,1);
 -moz-transition: all 400ms cubic-bezier(0,0,0,1);
 -webkit-transition: all 400ms cubic-bezier(0,0,0,1);
}
.search_col input[type="button"]:hover{
 background: #859c2e;
}

.property_result_head{
 width: 100%;
 float: left;
 background: #053017;
 padding: 15px 0;
}
.property_result_head p{
 float: left;
 font-size: 18px;
 line-height: normal;
 font-weight: normal;
 color: #fff;
 margin-top: 8px;
}
.property_result_head ul{
 float: right;
}
.property_result_head ul li{
 display: inline-block;
 float: left;
 padding: 0 20px;
}
.property_result_head ul li a{
 display: block;
 font-size: 13px;
 line-height: 18px;
 font-weight: normal;
 color: #f7ffb0;
 padding-top: 25px;
}
.property_result_head ul li a:hover{
 text-decoration: underline;
}
.property_result_head ul li:nth-child(1) a{background: url(../../images/email-alert.png) center 5px no-repeat;}
.property_result_head ul li:nth-child(2) a{background: url(../../images/change-currency-icon.png) center top no-repeat;}
.property_result_head ul li:nth-child(3) a{background: url(../../images/change-img-icon.png) center 3px no-repeat;}
.property_result_head ul li:nth-child(4) a{background: url(../../images/order-request-icon.png) center top no-repeat;}

.order-results{padding: 8px 10px 8px 30px;font-size: 13px;line-height: 18px;font-weight: bold;color: #fff;float: left;display: block;background: #053017;cursor: pointer;transition: all 400ms cubic-bezier(0,0,0,1);-o-transition: all 400ms cubic-bezier(0,0,0,1);-ms-transition: all 400ms cubic-bezier(0,0,0,1);-moz-transition: all 400ms cubic-bezier(0,0,0,1);-webkit-transition: all 400ms cubic-bezier(0,0,0,1);}
.order-results:hover{background: #859c2e;}
.order-results i{color: #fff;}


.property_result_sec{
 width: 100%;
 float: left;
 padding: 20px 0;
 position: relative;
 background: #f5f5f5;
}
.property_result_sec_left{
 width: 100%;
 float: left;
 padding-left:46%;
 padding-right:3%;
}
.property_result_sec_right{
 width: 44%;
 position: absolute;
 left: 0;
 top: 0;
 bottom:0;
 border: solid 1px #dbdbdb !important;
 border-right: none !important;
 min-height:400px;
 overflow: hidden;
 margin: 0 0;
}
.sticky2{position: fixed;top: 89px;z-index: 9;}
.sticky22{position: absolute;top: auto;bottom:0;z-index: 9;}
.property_result_sec_right iframe{
 width: 100%;
 height: 740px;
 display: block;
}
.result_box{
 width: 100%;
 display: table;
 background: #fff;
 border: solid 1px #dbdbdb;
 padding: 0;
 margin: 20px 0;
 transition: all 200ms ease-out;
 -o-transition: all 200ms ease-out;
 -ms-transition: all 200ms ease-out;
 -moz-transition: all 200ms ease-out;
 -webkit-transition: all 200ms ease-out;
}
.property_result_sec_left .result_box:first-child{margin-top:0;}
.result_box:hover{
 box-shadow:0 0 10px #ccc;
}
.result_box_row{
 display: table-row;
}
.result_box_col{
 display: table-cell;
 vertical-align: top;
}
.result_box_col:nth-of-type(2){padding-left: 20px;padding-right: 15px;}
.result_box_col .imgbox{width: 225px;padding: 0;border: 0;}
.result_box_col .imgbox img{display: block;}
.result_box_col h3{font-size: 20px;line-height: 18px;font-weight: normal;margin-top: 15px;}
.result_box_col h3 a{color: #1d1d1d;}
.result_box_col h3 a:hover{text-decoration: underline;}
.result_box_col h4{font-size: 20px;line-height: 18px;font-weight: bold;color: #143c25;margin: 10px 0 5px 0;}
.result_box_col p{font-size: 13px;line-height: 20px;font-weight: normal;color: #575757;letter-spacing: 0.2px;}
.result_box_col ul{width: 100%;float: left;margin-top: 5px;}
.result_box_col ul li{display: inline-block;float: left;}
.result_box_col ul li a{display: block;font-size: 13px;line-height: 24px;font-weight: normal;color: #fff;padding: 0 10px;margin-right: 10px;margin-bottom:10px;margin-top: 10px;}
.result_box_col ul li:nth-child(1) a{background-color:#48d583;}
.result_box_col ul li:nth-child(2) a{background-color:#a3a5a4;}
.result_box_col ul li:nth-child(3) a{background-color:#ffae00;}
.result_box_col ul li a i{padding-right:3px;}
.result_box_col ul li a:hover{color: #fff;background-color:#859c2e;}
.inner_banner{
 width: 100%;
 float: left;
 height: 290px;
 overflow: hidden;
}
#banner img{
 width: 100%;
 display: block;
}
.detail_menu{
 width: 100%;
 float: left;
 background: #053017;
 margin-top: 1px;
 letter-spacing: 0.2px;
}
.detail_menu ul{
 width: 100%;
 float: left;
}
.detail_menu ul li{
 display: inline-block;
 float: left;
 padding: 14px 21px;
}
.detail_menu ul li a{
 display: block;
 font-size: 13px;
 line-height: 20px;
 font-weight: normal;
 color: #fff;
 text-transform: uppercase;
 padding-left: 25px;
}
.detail_menu ul li a:hover{
 text-decoration: underline;
}
.detail_menu ul li:nth-child(1) a{background: url(../../images/detail-list-icon1.png) left top no-repeat;}
.detail_menu ul li:nth-child(2) a{background: url(../../images/detail-list-icon2.png) left top no-repeat;}
.detail_menu ul li:nth-child(3) a{background: url(../../images/detail-list-icon3.png) left top no-repeat;}
.detail_menu ul li:nth-child(4) a{background: url(../../images/detail-list-icon4.png) left top no-repeat;}
.detail_menu ul li:nth-child(5) a{background: url(../../images/detail-list-icon5.png) left top no-repeat;}
.detail_menu ul li:nth-child(6) a{background: url(../../images/detail-list-icon6.png) left top no-repeat;}
.detail_menu ul li:nth-child(7) a{background: url(../../images/detail-list-icon7.png) left top no-repeat;}
.detail_menu ul li:nth-child(8) a{background: url(../../images/detail-list-icon8.png) left top no-repeat;}

.prop_datail_head{
 width: 100%;
 float: left;
 background: #fff;
 padding: 25px 0;
 letter-spacing: 0.2px;
}
.prop_datail_head .left{
 float: left;
}
.prop_datail_head .right{
 float: right;
}
.prop_datail_head h3{
 font-size: 28px;
 line-height: 34px;
 font-weight: normal;
 color: #053017;
 margin-bottom: 5px;
}
.prop_datail_head p{
 font-size: 17px;
 line-height: 22px;
 font-weight: normal;
 color: #565656;
}
.prop_datail_head .price{
 display: block;
 font-size: 28px;
 line-height: 34px;
 font-weight: bold;
 color: #053017;
 margin-top: 10px;
}
.key_features{
 width: 100%;
 float: left;
 background: #f5f5f5;
 padding: 50px 0;
 letter-spacing: 0.2px;
 text-align: center;
}
.key_features h2{
 font-size: 32px;
 line-height: 38px;
 font-weight: bold;
 color: #053017;
 text-transform: uppercase
}
.key_features span{
 font-size: 20px;
 line-height: 28px;
 font-weight: normal;
 color: #373737;
}
.key_features ul{
 max-width: 950px;
 width: 100%;
 margin: 45px auto 0 auto;
 text-align: left;
 column-gap: 105px;
 column-count: 2;
 -o-column-count: 2;
 -ms-column-count: 2;
 -moz-column-count: 2;
 -webkit-column-count: 2;
}
.key_features ul li{
 width: 100%;
 float: left;
 font-size: 16px;
 line-height: 27px;
 font-weight: normal;
 color: #4b4b4b;
 background: url(../../images/tick-icon.png) left 4px no-repeat;
 padding-left: 32px;
 margin-bottom: 15px;
}

.detail_cont{
 width: 100%;
 float: left;
 padding: 45px 0;
 letter-spacing: 0.2px;
}
.img_list{
 width: 100%;
 float: left;
 text-align: center;
 margin-bottom: 20px;
}
.img_list li{
 display: inline-block;
 padding: 10px 15px;
}
.img_list li span{
 display: block;
 width: 150px;
 height: 150px;
 border: solid 2px #dbdbdb;
 border-radius: 50%;
}

.img_list li:nth-child(1) span{background: url(../../images/prop-list-img1.jpg) center center no-repeat;}
.img_list li:nth-child(2) span{background: url(../../images/prop-list-img2.jpg) center center no-repeat;}
.img_list li:nth-child(3) span{background: url(../../images/prop-list-img3.jpg) center center no-repeat;}
.img_list li:nth-child(4) span{background: url(../../images/prop-list-img4.jpg) center center no-repeat;}
.img_list li span b{padding-top: 72%;display: inline-block;font-size: 17px;color:#859c2e;}
.detail_cont p{
 font-size: 16px;
 line-height: 23px;
 font-weight: normal;
 color: #4d4d4d;
}

.property_photography{
 width: 100%;
 float: left;
 text-align: center;
 letter-spacing: 0.2px;
 padding: 40px 0;
 overflow: hidden;
}
.property_photography h3{
 font-size: 32px;
 line-height: 38px;
 font-weight: bold;
 color: #053017;
 text-transform: uppercase;
}
.property_photography h5{
 font-size: 22px;
 line-height: 28px;
 font-weight: normal;
 color: #053017;
 margin-bottom: 12px;
}
.property_photography span{
 display: inline-block;
 font-size: 18px;
 line-height: 22px;
 font-weight: normal;
 color: #053017;
 background: url(../../images/prop-pic.png) left center no-repeat;
 padding-left: 35px;
}
.property_photography .owl-carousel{margin: 45px 0;}
.property_photography .owl-carousel .owl-stage-outer{overflow: visible;}
.property_photography .owl-controls{top: 42%;}
.property_photography .owl-carousel .owl-stage-outer li{display: block;z-index: 9 !important;transition: all 200ms ease;}
.property_photography .owl-carousel .owl-stage-outer li:hover{transform: scale(1.03,1.03);position: relative;z-index: 999!important;opacity: 1;}
.floorplan{width: 100%;float: left;border-top: solid 1px #eaeaea;text-align: center;padding: 50px 0;}
.floorplan h3{font-size: 32px;line-height: 38px;font-weight: bold;color: #053017;text-transform: uppercase;margin: 0 0 50px;}
#searchbar{float:left;width:100%;overflow: hidden;}
.sticky {position: fixed;top: 0;width: 100%;z-index: 99;}
.login-pg{width:100%;padding:10% 0 0 0;position:fixed;width:100%;height:100%; background-image:url(../../images/login-bg.jpg);background-size:cover;background-repeat:   no-repeat;background-position: center center; }
.login-pg_box{max-width: 450px;width: 98%;margin:0 auto;position: relative;background: #053017;padding: 30px 6% 30px 6%;box-shadow: 0px 0px 20px rgba(0,0,0,0.5);border-radius:5px;}
.login-pg_box h3{font-family: 'PT Sans', sans-serif;font-size: 30px;text-transform:uppercase;font-weight: normal;color: #757575;margin-bottom:20px;text-align:center;margin-top:0px;}
.login-pg_box label{font-family: 'PT Sans', sans-serif;font-size: 16px;font-weight: normal;color: #e4e0d4;display:inline-block; width:100%;margin-bottom:10px;}
.login-pg_box input[type="text"],.login-pg_box input[type="password"]{width: 100%;border: solid 1px #dddddd;height: 35px;font-family: 'PT Sans', sans-serif;
font-size: 16px;font-weight: normal;color: #757575;padding: 0 8px;transition: all 250ms ease;-o-transition: all 250ms ease;-ms-transition: all 250ms ease;
-moz-transition: all 250ms ease;-webkit-transition: all 250ms ease;margin-bottom:25px;border-radius:2px;}
.login-pg_box input[type="text"]:focus{border-top: solid 1px #c2c2c2;border-bottom: solid 1px #c2c2c2;}
.login-pg_box input[type="submit"]{background: #859c2e;cursor: pointer;padding:8px 25px;border:0;display:inline-block;font-family: 'PT Sans', sans-serif;font-size: 17px;font-weight: normal;color: #fff;text-transform:uppercase;float:right;}
.login-pg_box input[type="submit"]:hover{opacity:0.7;}
.error-msg{background:#ff4200;border-radius:3px;padding:5px 20px; font-size:14px;color:#fff;width:100%;margin:5px 0;font-weight:400;}
.success-msg{background:#03ce67;border-radius:3px;padding:5px 20px; font-size:14px;color:#fff;width:100%;margin:5px 0;font-weight:400;}
.forget-pass{color:#859c2e;padding-top: 10px;float: left;}
.forget-pass:hover,.register-link a:hover{opacity:0.7;}
.register-link{width:100%;display:black;padding-top:20px;color: #757575;}
.register-link a{color:#859c2e;}
.login-pg_box .form-group{margin-bottom: 0;}
.login-pg_box .help-block{margin-top: 0;margin-bottom: 0;}


















@media(max-width:1160px){
 .search_col:first-of-type {width: 170px;}
 .search_col select {font-size: 11px;}
 .search_col form input[type="search"] {font-size: 12px;}
}
@media(max-width:980px){
 .line-box{display: block;}
 .close{display: block;}
 nav{max-width: 250px;position: fixed;top: 0;bottom: 0;left: -250px;z-index: 9999;border-top:none;border-bottom: none;
     transition: all 400ms cubic-bezier(0,0,0,1)}
 nav.slide_right{left: 0px;}
 nav .wrapper{width: 100%;height: 100%;overflow-y: auto;}
 nav ul li{width: 100%;text-align: left;margin-bottom: 1px;}
 nav ul li:hover{background: initial;color: initial;}
 nav ul li:hover a{color: initial;}
 nav ul li ul li a{color: #fff !important;}
 nav ul li a{padding: 8px 12px;}
 nav ul li ul li a{border: none;}
 nav ul li ul{position: static;opacity: 1;visibility: visible;width: 100%;display: none;}
 nav ul li.active ul{display: block;}
 nav .wrapper ul > li.submenu{padding-right: 0;}
 nav ul li.submenu:after{content: '';position: absolute;top: 0px;right: 1px;width: 35px;height: 40px;background: #828282 url(../images/plus.png) center center no-repeat;}
 nav ul li:hover,nav ul li:hover a{background: #93a730;color: #fff;}
 nav ul li.submenu.active:after{background: #828282 url(../../images/minus.png) center center no-repeat;}
 .banner_text{top: 30%;}
 .property_result_sec_right{position: static;}
 .result_box{margin: 10px 0;}
 .property_result_sec_right{display:none;}
 .property_result_sec_right iframe{height: 300px;}
 .property_result_sec{padding: 15px 0;}
 .property_result_head{text-align: center;}
 .property_result_head p{margin: 0 0 20px;width: 100%;}
 .property_result_head ul{width: 100%;}
 .property_result_head ul li{float: none;}
 .key_features ul{column-gap: 18px;}
 .property_result_sec_left{width: 100%;float: left;padding-left:5%;padding-right:5%;}
 .sticky {position:static;top: 0;width: 100%;z-index: 99;}
 .search_col {display: block;float:left;padding: 0 4px;}
 .search_col:first-of-type {display:block;width:100%;border-right:0;margin-bottom:20px;}
 .search_col::after{border-right:0;}
 .search_col select {font-size: 11px;padding-right: 18px;border:1px solid #dcdcdc;}
 .search_col form input[type="search"] {font-size: 12px;}
 .search_col:nth-child(6) {width: auto;}
}
@media(max-width:800px){
 .header{padding: 15px 0;}
 .head_right{position: static;width: 100%;margin-top: 10px;}
 .head_right ul{float: none;display: inline-block;}
 .head_right ul li{float: none;}
 .banner_text{top: 50%;}
 .search_properties_box{margin-top: 20px;}
 .content_row1{padding: 40px 0;}
 .content_row1 h2{margin-bottom: 15px;}
 .content_row1 ul li{width: 50%;padding: 10px;}
 .content_row1 ul li a{width: 100%;}
 .content_row1 ul li img{width: 100%;}
 .content_row3{padding: 20px 0;}
 .content_row3 ul li{width: 50%;padding: 20px 10px;}
 .footer{padding: 20px 0;}
 .foot_col{width: 100% !important;margin: 12px 0;padding: 0;}
 .foot_col h2{margin-bottom: 8px;}
 .result_box{padding: 10px;}
 .result_box_col:nth-of-type(2){margin-top: 15px;}
 .result_box_col{display: block;width: 100%;text-align: center;padding: 0 !important;}
 .result_box_col .imgbox{margin: auto;padding: 6px;width: auto;display: inline-block;}
 .result_box_col ul li a{margin-right: 15px;}
 .result_box_col ul li {float: none;}
 .key_features{padding: 30px 0;}
 .key_features ul{margin: 30px auto 0 auto;column-count: 1;-o-column-count: 1;-ms-column-count: 1;-moz-column-count: 1;-webkit-column-count: 1;}
 .property_photography{padding: 30px 0;}
 .owl-carousel .owl-item img{width: 100%;}
 .property_photography .owl-carousel{margin: 30px 0 10px;}
 .floorplan{padding: 30px 0;}
 .floorplan h3{margin-bottom: 30px;}
 .search_col select {font-size: 0px;padding: 25px 18px 5px 30px;}
 .search_col input[type="button"] {padding: 8px 10px;font-size: 12px;line-height: 18px;font-weight: normal;}
 .order-results {padding: 8px 10px 8px 32px;font-size: 0;}
}
@media(max-width:600px){
 .content_row2{padding: 20px 0;}
 .content_row3 ul li{width: 100%;}
 .content_row3 ul li .img_div{min-height: auto;}
 .banner_text h1{font-size: 38px;}
 .search_properties_box{padding: 20px;}
 .search_properties_box ul li{width: 25%;}
 .search_cont_sec .search_div input[type="text"]{width: 80%;font-size: 20px;}
 .search_cont_sec .search_div input[type="submit"]{width: 20%;}
 .prop_datail_head{padding: 10px 0;}
 .prop_datail_head .left,.prop_datail_head .right{width: 100%;text-align: center;}
 .search_table {padding: 10px 0;}
 .search_col:first-of-type {margin-bottom: 10px;}
}
@media(max-width:480px){
 .content_row1 h2{font-size: 24px;line-height: 30px;}
 .content_row1 ul li{width: 100%;}
 .content_row1 ul li a{width: auto;}
 .banner_text h1{font-size: 28px;}
 .search_properties_box ul li{width: 33.33%;}
 .search_cont_sec .search_div input[type="text"]{border-left: solid 1px #dddddd;}
 .search_cont_sec .sale_div{width: 100%;margin-bottom: 10px;}
 .search_cont_sec .search_div{width: 100%;}
 .detail_menu ul li{width: 100%;}
 .search_col select {font-size: 0px;padding: 15px 15px 15px 16px;background: none}
 .result_box_col ul li a {margin-right: 10px;font-size: 0;line-height: 0;padding: 10px;}
 .result_box_col ul li a i{font-size: 15px;}
 .result_box_col ul li:last-child a {margin-right: 0;}
}
