<div id="reviews">
    <p class="bold">Reviews</p>
    
        <div class="sidetestimonial-blk">
            <img src="images/quotes.png" width="19" height="18" class="left-quote" alt="" />
            <p class="sidetestimonial">Excellent. Very pleased. Great product and swift delivery.&rdquo;</p>
            <p><span class="sidetestimonial-by">E Shankland,<br/>Camarthenshire</span></p>
        </div>
      
</div>